/*****搜索标签 开始位置 ***/
.search{float:left; margin: 25px 0px 20px 55px;}
.btn-search{float:left; margin: 25px 0px 20px 30px;}

/********添加 按钮开始位置***/
.new{float: right; margin:25px 55px 10px 0;}

/************添加 页面开始位置*********/
.row{margin-top:30px; margin-left:200px; width:80%;}
.row h4{border-bottom:1px dashed #ddd;}

/******** 详情页开始位置 ****************/
.rowheight{margin-top: 20px;}
.rowtop{margin-top:20px;}
.rowbottom{margin-bottom: 100px;}