/*新建用户按钮位置*/
.content .activities .new{position:relative; float:right; margin:15px 55px 15px 0;}
.new .btn-edit{margin-right: 20px;}

/* 设置用户表格每列大小 */
table tr th:nth-child(1), table tr th:nth-child(5), table tr th:nth-child(9){width: 6%;}
table tr th:nth-child(7), table tr th:nth-child(8), table tr th:nth-child(10){width: 12%}

/**********添加用户 页面开始位置*********/
.row{margin-top:30px; margin-left:200px; width:80%;}
.row h4{border-bottom:1px dashed #ddd;}

.row {padding:0 20px;}
.row .input-group-custom{margin-left: 80px;}
.row .input-group-custom .span{float: right; line-height: 34px; color: #000;}
.row .input-group-custom .spanright{float: left; line-height: 34px; color:red;}
.row .input-group-custom .form-control{float: left; width:300px;}
.form-control-red{border: 1px solid red;}
.row .input-group-custom .caret{float: right; margin-top: 8px;}

/* 下拉菜单样式 */
#AdminDepart{padding-left:20px;}
.dropdownMenu ul{position: absolute; float: left; width:300px; margin-top: 35px; border: 1px #ccc solid; border-radius: 3px; background-color:#fff; z-index:100;}
.dropdownMenu li{height: 34px; line-height: 34px; text-indent: 20px; border-bottom: 1px solid #ccc;}
.dropdownMenu li:hover{background-color: #f4f4f4;}

/* 操作字体样式  */
.table .spanblue{color: #008; margin-right: 10px;}
.table .spanblue:hover{color: #008; border-bottom: 1px solid;}
.table .spanred{color: #ad0040;}
.table .spanred:hover{color: #ad0040; border-bottom: 1px solid;}
.table .spangreen{color: #007f48;}
.table .spangreen:hover{color: #007f48; border-bottom: 1px solid;}

/* 弹出框样式 */
.dialog-resetPasswd-success,.dialog-deleteUser-success{position: fixed; left: 50%; top: -20%; margin-left: -150px; margin-top: -50px; width: 300px; z-index: 100; border: 1px solid #dadde0; border-radius: 3px;}
.dialog-main{position: relative; width: auto; height: 100%; background: #fff;}
.dialog-title{height: 35px; position: relative; background: #38ae67;}
.dialog-title .close{position: relative; display: inline-block; width: 30px; height: 30px; color: #b9bfc5; float: right;}
.dialog-title .close i{position: absolute; font:normal 25px Tahoma; color: #000;}

.dialog-body{height: 120px; padding: 20px; overflow: hidden;}
/*.dialog-body span{display: inline-block; width: 25px; height: 25px;padding: 3px 1px 2px 5px; color: #35b558; border: 1px #35b558 solid; border-radius: 50%; }*/
.dialog-body .logo-success{display: inline-block; line-height: 30px; width: 30px; height: 30px; margin-left: 115px; background: url("../../../img/success.svg");}
.dialog-body h4{float: left; margin-top:20px; margin-top:20px; font-size:16px; text-align:center; width:100%;}






