.main {
	width: 1100px;
	margin: 65px auto;
}

.main-page {
	margin: 10px 0;
	position: relative;
}

/**** 表格上方样式  ****/
.main-page .nav-path {
	padding: 20px 0;
	line-height: 22px;
}

.nav-path a {
	color: #2277da;
}

.nav-path a:hover {
	border-bottom: 1px solid #2277da;
}

.icon-home {
	display: inline-block;
	background-image: url(../../../../../img/roomService/index.png);
	width: 14px;
	height: 13px;
	background-position: -68px -59px;
}

.icon-path {
	margin: 0 5px;
	display: inline-block;
	background-image: url(../../../../../img/roomService/index.png);
	width: 8px;
	height: 11px;
	background-position: -84px -59px;
}

.btnnew {
	position: absolute;
	right: 0;
	top: 16px;
}

.table-title:before,.table-title:after { content:""; display:table;}
.table-title:after{clear:both;}
.table-title{*zoom:1; margin-top: 1em; margin-bottom: 2em;}
.table-title .btnExcel{float: right; height: 30px; line-height: 16px; border-color: #aaa; margin-top: -6px;}

#maintainManageTbody .trace{color: #2277da; cursor: pointer;}
#maintainManageTbody .confirm{color: green; margin-left: 10px; cursor: pointer;}
#maintainManageTbody .trace:hover, #maintainManageTbody .confirm:hover{border-bottom-width: 1px; border-bottom-style: solid;}

.maintainItemType{float: left;}
.maintainItemType .span{float: left; margin-right: 1em;}
.maintainItemType .itemType{position: relative; display: inline-block; width: 140px; height: 20px; cursor: pointer; border: 1px solid #ccc;}

/* 弹出框样式 */
.menuDiv{display: none; position: fixed; width: 60%; height: 160px; top: 20%; left: 20%; z-index: 400; background: #fff; 
	 box-shadow: 3px 3px 5px rgba(0,0,0,0.3);}
.menuDiv .menuTitle{height: 35px; line-height: 35px; padding: 0 20px; color: #000; background: #eee; font-size: 15px; border-bottom: 1px solid #444;}
.menuDiv .menuTitle span{float: right; font-size: 24px; cursor: pointer;}
.menuDiv .menuTitle span:hover{color: #666;}

.menuBody{overflow-y: auto; padding: 40px; padding-bottom: 0;}
.menuBody .roomNumber{color: #2277da;}
.menuContent input{padding: 0 10px;}

.btn-submit{width: 100px; height: 30px; line-height: 17px; float: right; color: #222; border-color: #222; margin: 10px; border-radius: 0;}
.btn-submit:hover{background: #fafafa;}

.goodsName{color: #2277da;}

/* 搜索日历样式 */
.calendarPart{float: left; font-size: 14px; margin-left: 3em;}
.calendarPart .span{float: left;}
.ta_date{height: 26px; box-shadow: none; background: #fff; border-radius: 0; border-color: #aaa; margin-top: -2px;}
.ta_date .date_title{font-size: 15px;}

.search{float: left; font-size: 14px;}
#searchRoomNum{margin-left: 1em; height: 24px; padding: 0 6px; width: 140px;}
.btnEdit{width: 100px; height: 26px; line-height: 12px; border-color: #999; margin-left: 4em; float: left; margin-top: -2px;}

/* 双日历样式 */
.calendarPart:before,.calendarPart:after {content:""; display:table;}
.calendarPart:after{clear:both;}
.calendarPart{zoom: 1;}
.calendarPart .date{font-size: 14px; float: left; margin-right: 1em;}
#date_demo3{border-right: none;}
.ta_calendar_footer {height: 46px;}
.ta_calendar table caption{line-height: 20px;}

.emptyText{text-align: center; line-height: 60px; border-bottom: 1px solid #aaa; color: #ff4d4d; font-size: 14px;}

/*.bill-table thead tr th{width: 8%;}*/

.bill-table thead tr{height: 2em; font-size: 14px; border-bottom: 1px solid #333; border-top: 1px solid #333;}
.bill-table th{background-color: #2277da; color: #fff; text-align: center;}
.bill-table td{
	/*line-height: 26px; */
	padding: 8px 0;
	text-align: center;
	font-size: 14px;
	border-bottom: 1px solid #ccc;
	white-space:nowrap;
	overflow:hidden;}

thead tr th:nth-child(1){
	width:5%;
}

thead tr {
	line-height: 20px;
	border-bottom: 1px solid #e5e5e5;
	font-size: 15px;
	background-color: #eee;
}

thead th {
	text-align: center;
	color: #555;
	position: relative;
}

thead th span {
	display: inline-block;
	/*padding: 15px 0 5px 0;*/
}

.trOne td {
	border-bottom-color: white !important;
}