/* 导航栏样式 */
header .header-logo {
	left: 45%;
}

header .homeMenu {
	margin-top: 15px;
	margin-left: -20px;
	display: inline-block;
	width: 160px;
	height: 30px;
}

header .homeMenu .span {
	margin-left: .5em;
}

/* 一级菜单样式 */
.main-nav {
	position: fixed;
	z-index: 200;
	box-shadow: 2px 0 16px rgba(0, 0, 0, .2);
	top: 0;
	width: 0;
}

.main-nav .menuOne {
	display: block;
	height: 49px;
	line-height: 50px;
	background: #fafafa;
	cursor: pointer;
	font-size: 13px;
	color: #0057bd;
}

.main-nav .menuOne i {
	font-size: 15px;
	font-style: normal;
}

.main-nav .menuOne i:nth-child(1) {
	margin-left: 80px;
}

.main-nav .menuOne i:nth-child(2), .main-nav .menuOne i:nth-child(3) {
	margin-left: -5px;
}

/* 二级菜单样式 */
.nav-second .toolbar {
	width: 1100px;
	padding: 0;
	margin: 0 auto;
	text-align: center;
}

.toolbar ul {
	margin-left: -30px;
}

.toolbar li {
	margin: 0 30px;
}
/****************** 页面内容 start *****************************/
.main {
	width: 1100px;
	margin: 65px auto;
}

.main-page {
	margin: 10px 0;
}

/**** 表格上方样式  ****/
.body-content{
	position: static;
}

.main-page .nav-path {
	padding: 20px 0;
	line-height: 22px;
}

.nav-path a {
	color: #2277da;
}

.nav-path a:hover {
	border-bottom: 1px solid #2277da;
}

.icon-home {
	display: inline-block;
	background-image: url(../../../../../img/roomService/index.png);
	width: 14px;
	height: 13px;
	background-position: -68px -59px;
}

.icon-path {
	margin: 0 5px;
	display: inline-block;
	background-image: url(../../../../../img/roomService/index.png);
	width: 8px;
	height: 11px;
	background-position: -84px -59px;
}

.btnnew {
	position: absolute;
	right: 0;
	top: 16px;
}

.body-content input[type='radio']{
	width: 110px;
}

#pLevel{
	width: 116px;
}

.problemLevel{
	width: 64px;
	display: inline-block;
	border: 1px solid #aaa;
	text-align: center;
	margin-right: 10px;
	cursor: pointer;
}

.levelOne.levelActive{background: #ffc9c9;}
.levelTwo.levelActive{background: #feffaa;}
.levelThree.levelActive{background: #aad8fe;}
.levelFour.levelActive{background: #b3ffca;}


/* 问题分类/问题原因 样式 */
#problemSort, #problemReason{position: relative;}
#problemSortInput, #problemReasonInput{cursor: pointer;}
#spanExist, #problemSort .span, #problemReason .span{width: 116px;}
.problemSortMenu, .problemReasonMenu{display: none; z-index: 100; position: absolute; top: 30px; left: 120px; background: #fafafa; border: 1px solid #aaa; box-shadow: 2px 2px 2px rgba(0,0,0,.3); margin-bottom: 5em;}
.problemSortMenu li, .problemReasonMenu li{height: 30px; line-height: 30px; width: 300px; text-align: center; border-bottom: 1px solid #aaa; color: #2277da; cursor: pointer;}
.problemSortMenu li:hover, .problemReasonMenu li:hover{background: #2277da; color: #fff;}
