thead th{padding-bottom: 6px;}
thead th:nth-child(1),thead th:nth-child(2),thead th:nth-child(3),
thead th:nth-child(4),thead th:nth-child(5),thead th:nth-child(6),
thead th:nth-child(7),thead th:nth-child(8),thead th:nth-child(9),
thead th:nth-child(10),thead th:nth-child(11),thead th:nth-child(12),
thead th:nth-child(13){width: 6%;}

.main-page{margin-top: 7em;}
.search input{padding: 0 10px; margin-left: 1em;}
.btn-goback{float: right; width: 120px; margin-top: -2em;}
.bill-table{margin-top: 3em;}