.body {

    margin: 2em auto;
    margin-bottom: 9em;
}

.main-page{
    position: static;
}
.body-content {
    margin-left: 0px;
    position: static;
}

.body-content li {
    height: 3.5em;
    font-size: 15px;
}

.body-content li:nth-child(4) {

    font-size: 15px;
}

.body-content li:nth-child(1) .span{width: 116px;}
.body-content li .span {
    width: 8em;
    display: inline-block;
}

.body-content li input {
    width: 20em;
    padding: .1em .8em;
}

.eventType {
    margin-left: 8em;
}

.eventType input[type = "radio"] {
    width: 20px;
    height: 20px;
    float: left;
}

.eventType .span{
    margin-left: 10px;
    float: left;
    margin-top: 4px;
}

.red-right {
    margin-left: 2em;
}

#roomIdWarning {
    display: none;
    position: absolute;
    margin-top: -25px;
    margin-left: 25px;
    font-size: 12px;
}

.border-red {
    border: 1px solid red;
}

.goback {
    margin-top: 1.5em;
}

#mailContent{
    border-color: #B1B2B3;
    resize: none;
}

#mailTitle{
    width: 600px;
}