.index-list{}

.left-index{font-size: 16px; clear: left; margin-top: 1.5em; margin-left: 3.3em}
.left-index .logo{width: 10px; float: left; margin-right: .8em; margin-top: 4px; border-left: 7px solid #ff8a01; border-right: 7px solid #ff8a01; border-bottom: 9px solid #fff; border-top: 14px solid #ff8a01;}

.content-title-index{float: left; margin: 0 0 2em 10em; font-size: 14px;}
.content-title-index ul li:nth-child(4){clear: left;}
.content-title-index ul li{width: 245px; padding-left: 20px; margin-top: 1em;}
.content-title-index ul li a{width: 60%;}
.content-title-index .icon{width: 12px; height: 12px;}