.bill-table thead tr{height: 4em; font-size: 14px; border-bottom: 1px solid #333; border-top: 1px solid #333;}
.bill-table th{background-color: #2277da; color: #fff; text-align: center;}
.bill-table td{line-height: 26px; padding: 8px 0; text-align: center; font-size: 14px; border-bottom: 1px solid #ccc;white-space:nowrap;overflow:hidden;}
/*.bill-table td:nth-child(5){color: #ff5722; font-weight: bold;}*/

.bill-area .search{margin-top: 2em; margin-bottom: 2em; font-size: 15px;}
.search input{padding: 0 5px; margin-left: 10px; margin-right: 30px;}
.btnEdit{width: 100px; height: 26px; line-height: 12px; border-color: #999; margin-top: -4px;}
.btnRight{margin-left: 223px;}
.btnAdd{width: 230px; height: 26px; line-height: 12px; border-color:#2277da; margin-top: -4px;background-color: #2277da;}
.btnDelete{width: 50px; height: 26px; line-height: 12px; border-color: darkred; margin-top: -4px;background-color: darkred;}

.totalPrice{margin-left: 30px;}
.totalPrice span{color: #ff5722; font-weight: bold;}

.emptyData{text-align: center; color: #ff4d4d;}

.bottom-page{margin: 0; margin-top: 3em;}
.bottom-page .recorTotal{color: #2277da;}

#editCom{color: #2277da;margin-right:10px;}
#editCom:hover{color: #2277da; border-bottom: 1px solid #2277da;cursor: pointer;}

#deleteCom{color: #e45e00;}
#deleteCom:hover{color: #e45e00; border-bottom: 1px solid #e45e00;cursor: pointer;}

/* 导航栏样式 */
header .header-logo {
	left: 45%;
}

header .homeMenu {
	margin-top: 15px;
	margin-left: -20px;
	display: inline-block;
	width: 160px;
	height: 30px;
}

header .homeMenu .span {
	margin-left: .5em;
}

/* 一级菜单样式 */
.main-nav {
	position: fixed;
	z-index: 200;
	box-shadow: 2px 0 16px rgba(0, 0, 0, .2);
	top: 0;
	width: 0;
}

.main-nav .menuOne {
	display: block;
	height: 49px;
	line-height: 50px;
	background: #fafafa;
	cursor: pointer;
	font-size: 13px;
	color: #0057bd;
}

.main-nav .menuOne i {
	font-size: 15px;
	font-style: normal;
}

.main-nav .menuOne i:nth-child(1) {
	margin-left: 80px;
}

.main-nav .menuOne i:nth-child(2), .main-nav .menuOne i:nth-child(3) {
	margin-left: -5px;
}

/* 二级菜单样式 */
.nav-second .toolbar {
	width: 1100px;
	padding: 0;
	margin: 0 auto;
	text-align: center;
}

.toolbar ul {
	margin-left: -30px;
}

.toolbar li {
	margin: 0 30px;
}

/*.content {*/
	/*margin: 50px 10px 20px 170px;*/
/*}*/


/************* 导航栏样式 end **********/

/***************** 客房服务类型 start ****************/
.roomNavInner .dropMenu {
	float: left;
	height: 40px;
}

.dropMenu .nav_title {
	width: 200px;
	height: 37px;
	line-height: 37px;
	text-align: center;
	font-size: 16px;
	color: #fff;
	float: left;
	background: url(../../../../img/roomService/bottom.png) #2277da	no-repeat 170px 16px;
}

.dropMenu .index {
	display: none;
	position: absolute;
	top: 113px;
	width: 201px;
	height: 320px;
	border-left: 2px solid #2277da;
	background-color: #fff;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
	z-index: 50;
}

.index .plate {
	position: relative;
}

.plate img {
	width: 40px;
}

.plate-title {
	height: 80px;
	border-bottom: 1px solid #2277da;
	border-right: 2px solid #2277da;
	position: relative;
	background: url(../../../../img/bg_plate_inner.gif) no-repeat 170px 32px;
	z-index: 100;
	background-color: #fff;
}

.plate-title .title-head {
	padding: 20px 10px;
}

.plate-title .title-head span {
	font-size: 15px;
}

.plate-content {
	display: none;
	width: 580px;
	height: 323px;
	border: 2px solid #2277da;
	border-left: none;
	position: absolute;
	left: 197px;
	background: #fff;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.content-title {
	margin: 5em 1em 2em 2em;
}

.content-title ul {
	
}

.content-title ul li {
	height: 30px;
	float: left;
	padding-left: 50px;
}

.content-title ul li:last-child {
	border-bottom: none;
}

.content-title ul li a {
	display: inline-block;
}

.content-title .icon {
	float: left;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #2888da;
	margin: 5px 1.5em 5px .5em;
}

.content-title ul li:hover a {
	color: #ff8a01;
	animation: icon-jump 1s ease-in-out forwards infinite;
}

.content-title ul li:hover .icon {
	background: #ff7d31;
	animation: icon-jump 1s ease-in-out forwards infinite;
}

@keyframes icon-jump { 0%{
	transform: translateY(3px);
}

50%{
transform:translateY(-3px);
}
100%{
transform:translateY(3px);
}
}
.plate-roomService .plate-content {
	top: -2px;
}

.plate-roomService .content-title li {
	margin: .5em 1em;
	width: 40%;
}

.plate-roomService .content-title li a {
	width: 76%;
	height: 100%;
}

.plate-repair img {
	border-radius: 50%;
}

.plate-repair .plate-content {
	top: -82px;
}

.plate-repair .content-title li, .plate-resource .content-title li,
	.plate-other .content-title li {
	margin: 1em 10em;
	width: 80%;
}

.plate-repair .content-title li a, .plate-resource .content-title li a,
	.plate-other .content-title li a {
	width: 80%;
	height: 100%;
}

.plate-resource .plate-content {
	top: -162px;
}

.plate-other .plate-content {
	top: -242px;
}

.dropMenu .nav-title-active {
	background: url(../../../../img/roomService/top.png) #2277da no-repeat 170px 16px;
}

.plate-title-active {
	border-right: 2px solid #fff;
}
/***************** 客房服务类型 end ****************/

/****************** 页面内容 start *****************************/
.main {
	width: 1100px;
	margin: 65px auto;
}

.main-page {
	margin: 10px 0;
	position: relative;
}

/**** 表格上方样式  ****/
.main-page .nav-path {
	padding: 20px 0;
	line-height: 22px;
}

.nav-path a {
	color: #2277da;
}

.nav-path a:hover {
	border-bottom: 1px solid #2277da;
}

.icon-home {
	display: inline-block;
	background-image: url(../../../../img/roomService/index.png);
	width: 14px;
	height: 13px;
	background-position: -68px -59px;
}

.icon-path {
	margin: 0 5px;
	display: inline-block;
	background-image: url(../../../../img/roomService/index.png);
	width: 8px;
	height: 11px;
	background-position: -84px -59px;
}

.btnnew {
	position: absolute;
	right: 0;
	top: 16px;
}

/**** 表格样式  *****/
.bill-table {
	margin: 1em 0;
}

.bill-table table {
	width: 100%;
}

/*table thead 固定*/
.fixedThead {
	position: fixed;
	top:50px;
	height:56px;
	width: 1100px;

}

thead tr {
	height: 20px;
	line-height: 20px;
	border-bottom: 1px solid #e5e5e5;
	font-size: 15px;
	background-color: #eee;
}

thead th {
	text-align: center;
	color: #555;
	position: relative;
}

thead th span {
	display: inline-block;
	padding: 15px 0 5px 0;
}

thead th p {
	font-weight: normal;
	color: #777;
	font-size: 10px;
}

thead th:nth-child(1) {
	width: 10%;
}

.search-roomNo {
	position: absolute;
	width: 1100px;
	height: 0;
	background: #fafafa;
	border-bottom: 1px dashed #279;
	top: 70px;
	transition: height .5s ease-in-out;
	color: #111;
	cursor: pointer;
	overflow: hidden;
}

.search-customerName {
	position: absolute;
	height: 70px;
	left: -83%;
	height: 0;
	width: 1100px;
	background: #fafafa;
	border-bottom: 1px dashed #279;
	top: 70px;
	transition: height .5s ease;
	color: #111;
	cursor: pointer;
	overflow: hidden;
}

.search-items {
	position: absolute;
	height: 70px;
	left: -268px;
	height: 0;
	width: 1000px;
	background: #fafafa;
	border-bottom: 1px dashed #279;
	top: 70px;
	transition: height .5s ease;
	color: #111;
	cursor: pointer;
	overflow: hidden;
}

.search-wrap {
	position: relative;
	float: left;
	margin: 2.2em 310px;
}

.search-wrap .search-input {
	width: 245px;
	height: 34px;
	line-height: 34px;
	border: 1px solid #e6e6e6;
	border-radius: 3px;
	color: #5e5e5e;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	padding: 10px;
}

.search-wrap .search-btn {
	position: absolute;
	right: 100px;
	bottom: 0;
	display: block;
	width: 34px;
	height: 34px;
	background: url(../../../../img/roomService/search-bg.png) no-repeat;
	cursor: pointer;
}

.search-wrap .btnedit {
	height: 34px;
	margin-left: 1em;
	color: #555;
}

thead th:nth-child(2) {
	width: 10%;
}

thead th:nth-child(3) {
	width: 10%;
}

thead th:nth-child(4) {
	width: 10%;
}

thead th:nth-child(5) {
	width: 10%;
}

thead th:nth-child(6) {
	width: 10%;
}

thead th:nth-child(7) {
	width: 10%;
}

tbody tr {
	text-align: center;
	line-height: 4em;
	border-bottom: 1px solid #eee;
}

tbody tr:hover {
	background: #f7f7f7;
}

/*.bill-table tbody tr td:nth-child(1) span{display: inline-block; background: #ffb987; border-radius: 50%; color: #333; padding: 4px; width: 25px; height: 22px; line-height: 15px;}*/

/**** 页码 样式 ****/
.fixedBottom {
	position: fixed;
	bottom: 0px;
	right: 100px;
	width: 100%;
	background-color: white;
	margin-bottom: -10px;
}


.bottom-page {
	/*margin: 3em 2em 5em;*/
	margin: 1em 2em 0.5em;
}

.page-bottom {
	font-size: 14px;
	color: #a5a5a5;
	height: 40px;
	margin: 20px 0;
}

.page-bottom .page-wrap {
	background-color: #fff;
	float: right;
	line-height: 40px;
}

.page-wrap a {
	float: left;
	text-align: center;
	width: 38px;
	height: 38px;
	line-height: 38px;
	border: 1px solid #e6e6e6;
	color: #5e5e5e;
}

.page-wrap a:hover {
	background: #2277da;
	color: #fff;
	border-color: #2277da;
}

.page-wrap .down-page {
	width: 98px;
	position: relative;
	float: left;
}

.page-wrap .down-page em {
	font-style: normal;
}

.page-wrap .down-page .next-i, .page-wrap .down-page .prev-i {
	font-style: normal;
	font-size: 16px;
}

.page-wrap .down-page .next-i {
	padding: 0 0 0 8px;
}

.page-wrap span {
	color: #5e5e5e;
	float: left;
	padding: 0 14px;
}
/****************** 页面内容 start *****************************/

/******** 弹出框样式  ******/
.shadow{display: none; width: 100%; height: 100%; top: 0; left: 0; position: fixed; z-index: 200; background: rgba(0,0,0,.3);}
.addItemDiv{display: none; position: fixed; width: 60%; height: 520px; top: 50px; left: 20%; z-index: 400; background: #fff; 
	 box-shadow: 3px 3px 5px rgba(0,0,0,0.3);}
.addItemDiv .fac-title{height: 45px; line-height: 45px; padding: 0 20px; color: #000; background: #eee; font-size: 15px; border-bottom: 1px solid #444;}
.addItemDiv .fac-title span{float: right; font-size: 24px; cursor: pointer;}
.addItemDiv .fac-title span:hover{color: #666;}

.fac-body{max-height: 425px; overflow-y: auto; padding: 30px 0;}
.fac-body .item{padding: 0 40px;}
.fac-body .span{width: 15%; font-weight: bold; float: left; clear: left; min-height: 50px;}
.fac-body .item-content{float: left; width: 85%; margin-bottom: 20px;}
.fac-body .item-content a{width: 110px; display: inline-block; border: 1px solid #aaa; border-radius: 4px; margin-right: 1em; text-align: center; height: 24px; line-height: 22px; margin-bottom: 1.5em;}
.fac-body .item-content input{padding: 0 10px;}
.fac-body .item-content .active{background-color: #2277da; color: #fff; border-color: #2277da;}
.fac-body .btn-item{width: 130px; height: 25px; border-radius: 0; line-height: 11px; border-color: #555; margin-right: 20px; margin-bottom: 5px;}
.fac-body .btn-item:hover{border-color: #2277da; color: #2277da; background: #fff;}
.addItemDiv .item-content .item-active{border: 1px solid #2277da; color: #fff; background: #2277da;}

.fac-foot{background: #eee; position: absolute; height: 50px; width: 100%; bottom: 0; border-top: 1px solid #444;}
.fac-foot .btn-submit{width: 100px; height: 30px; line-height: 17px; float: right; color: #222; border-color: #222; margin: 10px; border-radius: 0;}
.fac-foot .btn-submit:hover{background: #ccc;}

/*********************双日历样式********************************/
/* 搜索日历样式 */
.calendarPart{float:left;font-size: 14px; margin-left: 3em;}
.calendarPart .span{float: left;}
.ta_date{height: 26px; box-shadow: none; background: #fff; border-radius: 0; border-color: #aaa; margin-top: -2px;}
.ta_date .date_title{font-size: 15px;}

/*.search{float: left; font-size: 14px;}*/
/*#searchRoomNum{margin-left: 1em; height: 24px; padding: 0 6px; width: 140px;}*/
/*btnEdit{width: 100px; height: 26px; line-height: 12px; border-color: #999; margin-left: 4em; float: left; margin-top: -2px;}*/

/* 双日历样式 */
.calendarPart:before,.calendarPart:after {content:""; display:table;}
.calendarPart:after{clear:both;}
.calendarPart{zoom: 1;}
.calendarPart .date{font-size: 14px; float: left; margin-right: 1em;}
#date_demo3{border-right: none;}
.ta_calendar_footer {height: 46px;}
.ta_calendar table caption{line-height: 20px;}

/*房间号输入框浮动样式*/
.roomNumFloat {
	float: left;
}

