/* 物品分配页标题 样式*/
.fac-title{padding: 20px 0; border-bottom: 1px solid #eee; margin: 50px 0; background-color: #fafafa; text-align: center;}
.fac-title .item{width: 1100px; margin: 0 auto;}
.fac-title .span{font-size: 14px; margin-right: 40px;}
.btngoback{float: right; height: 25px; line-height: 12px; width: 100px; background: #fff; border-color: #777; margin-top: 60px;}
.btngoback:hover{background: #2277da; color: #fff;}

.main{margin: 60px auto;}
.main .fac-sta{margin-bottom: 20px; text-align: center;}
.fac-sta .text{margin-right: 20px; font-size: 14px;}
.fac-sta .count{color: #ff5200; font-weight: bold; font-size: 16px;}

/* 表格 样式 */
#facDetailTbody .blue{color: #004596; margin-right: 10px; cursor: pointer;}
#facDetailTbody .gray{color: #666; cursor: pointer;margin-right: 10px;}
#facDetailTbody .blue:hover, #facDetailTbody .gray:hover{border-bottom-style: solid; border-bottom-width: 1px;}

.bill-table thead tr th span{line-height: 45px;}
.bill-table tbody tr{line-height: 45px;}

/* 弹出框 样式 */
.shadow{display: none; width: 100%; height: 100%; top: 0; left: 0; position: fixed; z-index: 200; background: rgba(0,0,0,.3);}
.menuDiv{display: none; position: fixed; width: 60%; height: 160px; top: 20%; left: 20%; z-index: 400; background: #fff;
	 box-shadow: 3px 3px 5px rgba(0,0,0,0.3);}
.menuDiv .menuTitle{height: 35px; line-height: 35px; padding: 0 20px; color: #000; background: #eee; font-size: 15px; border-bottom: 1px solid #444;}
.menuDiv .menuTitle span{float: right; font-size: 24px; cursor: pointer;}
.menuDiv .menuTitle span:hover{color: #666;}

.menuBody{overflow-y: auto; padding: 40px; padding-bottom: 0;}
.menuBody .roomNumber{color: #2277da;}
.menuContent input{padding: 0 10px;}

.btn-submit{width: 100px; height: 30px; line-height: 17px; float: right; color: #222; border-color: #222; margin: 10px; border-radius: 0;}
.btn-submit:hover{background: #fafafa;}

.btn-new, .btn-bad, .btn-borrow, .btn-repair{width: 100px; height: 30px; line-height: 16px; margin-left: 10px;float:right;}
.btn-new{}

/* 新分配、新报废物品 */
.shadow{display: none; width: 100%; height: 100%; top: 0; left: 0; position: fixed; z-index: 200; background: rgba(0,0,0,.3);}
.addItemDiv{display: none; position: fixed; width: 60%; height: 300px; top: 50px; left: 20%; z-index: 400; background: #fff;
	 box-shadow: 3px 3px 5px rgba(0,0,0,0.3);}
.addItemDiv .title{height: 45px; line-height: 45px; padding: 0 20px; color: #000; background: #eee; font-size: 15px; border-bottom: 1px solid #444;}
.addItemDiv .title span{float: right; font-size: 24px; cursor: pointer;}
.addItemDiv .title span:hover{color: #666;}

.fac-body{max-height: 260px; overflow-y: auto; padding-top: 30px; padding-left: 25%;}
.fac-body .item:after{content: ""; display: block; clear: both;}
.fac-body .item{padding: 0 40px; zoom: 1;}
.fac-body .span{width: 25%; font-weight: bold; float: left; clear: left; min-height: 50px;}
.fac-body .item-content{float: left; width: 50%; margin-bottom: 20px;}
.fac-body .item-content input{padding: 0 10px;}
.fac-body .btn-item{width: 130px; height: 25px; border-radius: 0; line-height: 11px; border-color: #555; margin-right: 20px; margin-bottom: 5px;}
.fac-body .btn-item:hover{border-color: #2277da; color: #2277da; background: #fff;}
.addItemDiv .item-content .item-active{border: 1px solid #2277da; color: #fff; background: #2277da;}

.fac-foot{background: #eee; position: absolute; height: 50px; width: 100%; bottom: 0; border-top: 1px solid #444;}
.fac-foot .btn-submit{width: 100px; height: 30px; line-height: 17px; float: right; color: #222; border-color: #222; margin: 10px; border-radius: 0;}
.fac-foot .btn-submit:hover{background: #fafafa;}
