.main{width: 1100px; margin: 60px auto;}

.main .planHead .planName{display: inline-block; margin: 20px 50px 20px 0; font-size: 15px;}
.main .planHead .planName .title{color: #111; margin-right: 1em;}
.main .planHead .goback{width: 120px; float: right; margin-top: 14px; background: #fff; color: #2277da; height: 25px; line-height: 12px; border-color: #2277da;}
.main .planHead .goback:hover{background: #2277da; color: #fff;}

.content{margin-bottom: 60px; background: #fafafa;}
.content .head{background: #2277da; color: #fff; height: 40px; line-height: 40px; text-align: center; font-size: 15px;}

/* 计划采购物品表格 样式 */
.content .body{padding: 40px 0;}
table{width: 95%; text-align: center; margin: 0 auto;}
table thead th{font-size: 15px; color: #444; text-align: center; line-height: 42px; border-bottom: 2px solid #ccc;  border-top: 2px solid #ccc;}
table tbody td{line-height: 40px; border-bottom: 1px solid #ccc;}
table tbody td:nth-child(5){width:10%;}
table tbody td:nth-child(9){font-weight:bold; color: #ff6a00;}

/* 计划执行情况 样式 */
.body .perProgress{width: 90%; padding: 0 10px; border-top: 1px solid #ccc; margin: 0 auto; overflow-x: auto; padding: 30px 0;}
.perProgress .user{background: url(../../../../img/progress_user.jpg) left center no-repeat; background-size: 20px; float: left;}
.perProgress .user span{padding-left: 30px; font-size: 15px;}
.perProgress .time{float: right;}
.clearfix:after{content: ""; display: block; clear: both;}
.clearfix{zoom:1;}
.progress_item{float: left; margin: 20px 30px 0 30px;}
.progress_item dt{float: left; width: 90px; margin: 5px 0; color: #444;}
.progress_item dt:nth-child(9){clear: left;}
.progress_item dd{float: left; width: 135px; margin: 5px 0; color: #2277da;}
.progress_item .money{color: #ff6a00;}
.progress_item .moneyNum{font-weight: bold;}

#facTbody .caigou{color: #2277da; cursor: pointer;}
#facTbody .caigou:hover{border-bottom: 1px solid #2277da;}

/************  添加物品弹框 **************/
.shadow{display: none; width: 100%; height: 100%; top: 0; left: 0; position: fixed; z-index: 200; background: rgba(0,0,0,.3);}
.addItemDiv{display: none; position: fixed; width: 60%; height: 520px; top: 50px; left: 20%; z-index: 400; background: #fff; 
	 box-shadow: 3px 3px 5px rgba(0,0,0,0.3);}
.addItemDiv .fac-title{height: 45px; line-height: 45px; padding: 0 20px; color: #000; background: #eee; font-size: 15px; border-bottom: 1px solid #444;}
.addItemDiv .fac-title span{float: right; font-size: 24px; cursor: pointer;}
.addItemDiv .fac-title span:hover{color: #666;}

.fac-body{max-height: 425px; overflow-y: auto; padding-top: 30px; padding-left: 25%;}
.fac-body .item:after{content: ""; display: block; clear: both;}
.fac-body .item{padding: 0 40px; zoom: 1;}
.fac-body .span{width: 25%; font-weight: bold; float: left; clear: left; min-height: 50px;}
.fac-body .item-content{float: left; width: 50%; margin-bottom: 20px;}
.fac-body .item-content input{padding: 0 10px;}
.fac-body .btn-item{width: 130px; height: 25px; border-radius: 0; line-height: 11px; border-color: #555; margin-right: 20px; margin-bottom: 5px;}
.fac-body .btn-item:hover{border-color: #2277da; color: #2277da; background: #fff;}
.addItemDiv .item-content .item-active{border: 1px solid #2277da; color: #fff; background: #2277da;}

.fac-foot{background: #eee; position: absolute; height: 50px; width: 100%; bottom: 0; border-top: 1px solid #444;}
.fac-foot .btn-submit{width: 100px; height: 30px; line-height: 17px; float: right; color: #222; border-color: #222; margin: 10px; border-radius: 0;}
.fac-foot .btn-submit:hover{background: #fafafa;}
