@charset "utf-8";
/* 维护 less 文件*/
.body-content {
  width: 1100px;
  margin: 50px auto;
}
table {
  width: 100%;
}
table tbody tr {
  height: 30px;
}
table tbody tr td {
  padding: 10px 5px;
  border: 2px solid #555;
  text-align: center;
  min-width: 30px;
  width: 8%;
}
table tbody tr .userName {
  margin: 10px 0 0 0;
  min-height: 20px;
  color: #0076ff;
}
table .floor35 td:nth-child(1),
table .floor35 td:nth-child(2),
table .floor35 td:nth-child(5),
table .floor35 td:nth-child(8) {
  border: none;
}

.SPC , .owner {
  color:#5c5c5c !important;
  font-weight: bold;
}


.LE_in {
  color:#00DD77 !important;
  font-weight: bold;
}

.LE_out {
  color:#228B22 !important;
  font-weight: bold;
}

.null {}

.hint {
  position: fixed;
  height:85px;
  width:120px;
  top:120px;
  right:0%;
  background-color: #fafafa;
  border:1px solid #EEEEEE;
  border-radius: 5px;

}

.hint-content {
  margin-top: 3px;
}
.hint-circle {
  background-color: #5c5c5c;
  border-radius: 50%;
  float: left;
  margin-left: 10px;
  margin-right: 20px;
  margin-top: 5px;
  height: 10px;
  width: 10px;
  opacity:0.9;
  -moz-opacity:0.9;

}

.hint .hint-content .span {
  padding-left: 10px;
  font-size: smaller;
}


.hint-content li:nth-child(1) div {
  background-color: #228B22;
}
.hint-content li:nth-child(2) div {
  background-color: #00DD77;
}
.hint-content li:nth-child(3) div {
  background-color: #5c5c5c;
}

.main {
  width: 1100px;
  margin: 65px auto;
}

.main-page {
  margin: 10px 0;
  position: relative;
}

/**** 表格上方样式  ****/
.main-page .nav-path {
  padding: 20px 0;
  line-height: 22px;
}

.nav-path a {
  color: #2277da;
}

.nav-path a:hover {
  border-bottom: 1px solid #2277da;
}

.icon-home {
  display: inline-block;
  background-image: url(../../../../img/roomService/index.png);
  width: 14px;
  height: 13px;
  background-position: -68px -59px;
}

.icon-path {
  margin: 0 5px;
  display: inline-block;
  background-image: url(../../../../img/roomService/index.png);
  width: 8px;
  height: 11px;
  background-position: -84px -59px;
}
