body, html {
	height: 98%;
	font-family: "微软雅黑";
	font-size: 14px;
	padding-left: 30px;
}

* {
	font-family: "Microsoft YaHei", sans-serif;
}

ul {
	list-style: none;
	padding: 0px;
	margin: 0;
}

a, a:hover, a:link, a:visited {
	text-decoration: none;
	color: #5c5c5c;
}
/****************页面导航栏 start******************/
.navbar-ld {
	z-index: 100;
	height: 50px;
	background-color: #fff;
	z-index: 101;
	border-bottom: solid #d8dce5 1px;
}

header .container-fluid {
	width: 100% !important;
}

header .homeMenu, .aside-box .menuOne {
	display: none;
}

header .header-content {
	position: relative;
	height: 50px;
	padding-left: 30px;
}

header .header-content .title {
	margin: 0;
	font-size: 16px;
	display: inline-block;
	line-height: 50px;
	color: #5c5c5c;
}

header .header-logo {
	position: absolute;
	left: 15px;
	top: 3px;
}

header .header-logo img {
	width: 568px;
	height: 40px;
}

header .header-content .navbar-collapse {
	float: right;
	margin-right: 2em;
	margin-top: 15px;
}

header .header-content .navbar-collapse .logoutDiv {
	float: right;
}

header .header-content .navbar-collapse .logoutImg {
	width: 18px;
	height: 18px;
	float: right;
	background: url('../../../img/logout.svg');
	background-size: 18px;
	margin-left: 2em;
	cursor: pointer;
}

header .header-content .navbar-collapse .logoutImg:hover {
	background: url('../../../img/logoutHover.svg');
	background-size: 18px;
}

header .header-content .dropdown {
	cursor: pointer;
}

header .header-content .dropdown-menu li {
	text-align: center;
}

/******************二级导航栏 start*****************/
.main-nav {
	position: absolute;
	z-index: 20;
	left: 0;
	top: 48px;
	bottom: 0;
	width: 160px;
	background: #eaedf4;
	border-right: solid #dedce5 1px;
}

.main-nav .aside-box {
	position: absolute;
	top: 0;
	width: 100%
}

.main-nav .aside-box li {
	position: relative;
	height: 61px;
	line-height: 56px;
	padding: 2px 0;
	text-indent: 25px;
	font-size: 15px;
	border-bottom: 1px #d8dce5 solid;
}

.main-nav .aside-box li:hover {
	background-color: #e0e4ed;
}

.main-nav .glyphicon {
	display: inline;
}

.main-nav .aside-box .liactive {
	background-color: #ced3e0;
}

.nav-second {
	position: relative;
	z-index: 6;
	width: 100%;
	margin-top: 50px;
	border-bottom: 1px #eee solid;
	background-color: #fafafa;
}

.nav-second .toolbar {
	padding-left: 172px;
}

.nav-secondul ul {
	white-space: nowrap;
}

.nav-secondul li {
	display: inline-block;
	height: 59px;
	line-height: 58px;
	margin: 0px 10px;
	padding: 7px 10px 0 10px;
	font-size: 16px;
	font-family: "微软雅黑";
	cursor: pointer;
}

.nav-secondul .linormal a {
	color: #5c5c5c;
}

.nav-secondul .liactive a {
	color: #000;
}

.nav-secondul li {
	font-size: 14px;
}

.nav-secondul li:hover {
	border-bottom: 2px solid #4a8bee;
}

.nav-secondul .liactive {
	border-bottom: 2px solid #4a8bee;
}

/******************二级导航栏 end*****************/
.body-content {
	position: relative;
	margin-left: 120px;
}

.general-map {
	margin: 40px auto;
	width: 950px;
}

.table td {
	text-align: center;
	vertical-align: middle;
	padding: 7px;
	line-height: 8px;
	width: 80px;
}

.free {
	background-color: yellow;
}

/* 修改  bootstrap下拉菜单样式  add by pq*/
.navbar .nav>li>.dropdown-menu:before {
	display: none;
}

.dropdown-menu {
	margin-left: -4em;
}