.main-title{margin: 30px 0;}
.main-title input{padding: 0 5px; margin-right: 20px;}
.btnSearch{border: 1px solid #aaa; padding: 2px 12px; cursor: pointer;}
.btn-edit{float: right;}

.bill-table thead tr th{width: 7%;}
.bill-table thead tr th:nth-child(5){width: 9%;}
.bill-table thead tr th:nth-child(9), .bill-table thead tr th:nth-child(10){width: 12%;}

#guestListTbody .detail{color: #2277da; cursor: pointer;}
#guestListTbody .detail:hover{border-bottom: 1px solid #2277da;}

.bill-table tbody tr td:nth-child(9), .bill-table tbody tr td:nth-child(10){color: #01069e;}

.bill-table tbody tr td:nth-child(8){color: #ff5722;}

.main {
    width: 1100px;
    margin: 65px auto;
}

.main-page {
    margin: 10px 0;
    position: relative;
}

/**** 表格上方样式  ****/
.main-page .nav-path {
    padding: 20px 0;
    line-height: 22px;
}

.nav-path a {
    color: #2277da;
}

.nav-path a:hover {
    border-bottom: 1px solid #2277da;
}

.icon-home {
    display: inline-block;
    background-image: url(../../../../img/roomService/index.png);
    width: 14px;
    height: 13px;
    background-position: -68px -59px;
}

.icon-path {
    margin: 0 5px;
    display: inline-block;
    background-image: url(../../../../img/roomService/index.png);
    width: 8px;
    height: 11px;
    background-position: -84px -59px;
}