.content {
	width: 1100px;
	margin: 40px auto;
}

.tab-content {
	overflow: hidden;
}

.tab-content .tab-content-title {
	font-size: 20px;
	line-height: 32px;
	color: #333;
	word-break: keep-all;
}

.tab-content .tab-content-title span {
	display: inline-block;
	font-size: 18px;
	width: 32px;
	border-radius: 50%;
	background: #2277da;
	text-align: center;
	margin-right: 15px;
	color: #fff;
}

.extra-body {
	border-left: 2px dotted #e4e4e4;
	margin-left: 16px;
	height: 100%;
}

.tab-content .tab-content-body {
	overflow: hidden;
	padding: 20px 10px;
	margin: 0 0 20px 50px;
}

.tab-content-body .form {
	background: url("../../../../img/rebc.gif");
	padding: 20px 0;
}

.tab-content-body .item {
	line-height: 22px;
	padding: 5px 80px;
	white-space: nowrap;
}

.item .spanLabel {
	display: inline-block;
	color: #555;
	text-align: left;
	font-size: 14px;
	font-weight: normal;
	margin: 5px 0;
	white-space: nowrap;
}

.item .spanLabel .red {
	color: red;
}

.item .fl {
	display: inline-block;
	width: 70%;
}

.item .text {
	line-height: 20px;
	padding: 0 6px;
	width: 100%;
}

/***************************** 左侧 珠串样式 start *********************************/
.step-nav {
	position: fixed;
	width: 100%;
	top: 50px;
	left: 0;
}

.step-nav .icon-group{
	width: 1100px;
	margin: 0 auto;
	position: relative;
}

.step-nav .list-icon-link {
	display: none;
	width: 32px;
	font-size: 18px;
	line-height: 32px;
	color: #fff;
	background: #2277da;
	border-radius: 50%;
	text-align: center;
}

.step-nav .list-icon-text {
	display: none;
	position: absolute;
	left: 40px;
	width: 100px;
	height: 28px;
	line-height: 28px;
	color: #5c5c5b;
}

.step-nav .list-icon-text:nth-child(2) {
	top: 1px;
}

.step-nav .list-icon-text:nth-child(4) {
	top: 33px;
}

.step-nav .list-icon-text:nth-child(6) {
	top: 65px;
}

.step-nav .list-icon-text:nth-child(8) {
	top: 97px;
}

.step-nav .list-icon-text:nth-child(10) {
	top: 129px;
}

.list-icon-text .inner {
	text-align: center;
	background-color: #fff;
	font-size: 12px;
	border: 1px solid #b3b7bf;
	border-radius: 2px;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
}
/***************************** 左侧 珠串样式 end *********************************/

/**** 租客信息 样式 ****/
.tab-content-guest .spanLabel {
	width: 17%;
}

.tab-content-guest .fl {
	width: 27%;
	margin-right: 13%;
}

.tab-content-guest .item-name .checkbox {
	display: inline-block;
	margin-right: 6%;
}

.tab-content-guest .item-room .spanLabel:nth-child(3),
	.tab-content-guest .item-company .spanLabel:nth-child(3),
	.tab-content-guest .item-car .spanLabel:nth-child(3) {
	width: 10%;
}

.tab-content-guest .item-time .spanLabel:nth-child(3),
	.tab-content-guest .item-tel .spanLabel:nth-child(3) {
	width: 15%;
}

.tab-content-guest .item-time .fl:nth-child(4), .tab-content-guest .item-tel .fl:nth-child(4){width: 22%;}

.border-red {
	border: 1px solid red;
}
/**** 业主 样式  ****/
.tab-content-owner .spanLabel {
	width: 17%;
}

.tab-content-owner .fl {
	width: 27%;
	margin-right: 13%;
}
/**** 中介 样式  ****/
.tab-content-agency .spanLabel {
	width: 22%;
}

.tab-content-agency .fl {
	width: 22%;
	margin-right: 13%;
}
/**** 房款 样式 ****/
.tab-content-housepay .item-list {
	margin-bottom: 20px
}

.tab-content-housepay .spanLabel {
	width: 17%;
}

.tab-content-housepay .spanLabel:nth-child(3) {
	width: 14%;
}

.tab-content-housepay .fl {
	width: 24%;
	margin-right: 16%;
}
/**** 服务样式 ****/
.tab-content-service .form {
	padding: 20px;
}

.tab-content-service .form table {
	width: 100%;
	text-align: center;
}

.tab-content-service .form table thead th {
	font-style: normal;
	font-weight: normal;
	text-align: center;
}

.tab-content-service thead th, .tab-content-service tbody td {
	border: 1px solid #ccc;
	height: 2em;
	line-height: 2em;
}

thead tr:nth-child(1) th:nth-child(1), thead tr:nth-child(1) th:nth-child(2),
	thead tr:nth-child(1) th:nth-child(3) {	width: 23%;}

thead tr:nth-child(1) th:nth-child(4), thead tr:nth-child(1) th:nth-child(5),
	thead tr:nth-child(1) th:nth-child(6) {	width: 8%;}

thead tr:nth-child(1) th:nth-child(7) {	width: 6%;}

thead tr:nth-child(1) th:nth-child(1) {	color: #777;}

tbody td:nth-child(1), tbody td:nth-child(2) {}

tbody .rowOne {
	width: 2%;
	padding: 10px;
	color: #777;
}

tbody .td-hover {
	background: #eee;
}

tbody .col-LE, tbody .col-wash, tbody .col-consume, tbody .col-car,
	tbody .col-light, tbody .col-tax {
	color: #ff7e10;
}

tbody .col-lunch-choose td:nth-child(2) {
	cursor: pointer;
	color: #2277da;
}

tbody .col-lunch-choose td:nth-child(2):hover {
	color: #0262b5;
}

tbody .col-lunch td:nth-child(1) {
	color: #279;
}

tbody .col-lunch:hover td, tbody .col-add:hover td {
	background: #eee;
}

tbody .title {
	color: #222;
}

tbody .col-resource .checkbox {
	float: left;
	margin-top: 8px;
	margin-left: 15%;
	margin-right: -15%;
}

td input[type="text"] {
	width: 100%;
	height: 100%;
	border: none;
	text-align: center;
	background: transparent;
	color: #888;
}

tbody .operation {
	cursor: pointer;
	color: #279;
}

tbody .operation:hover {
	color: #008cc3;
}

/******* 确认添加  样式 *******/
.newGuestBtn {
	margin: 4em 0;
	height: 6em;
	text-align: center;
}

.btnnew {
	display: inline-block;
	width: 20em;
	border: 1px solid #2277da;
	border-radius: 5px;
	text-align: center;
	height: 4em;
	line-height: 4em;
	font-size: 15px;
	background: #2277da;
	color: #fff;
}

.btnnew:hover {
	margin-top: 3px;
	color: #fff;
}

/********* 选择饭店样式 *************/
.thick-div {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: .2;
	border: 0;
}

.thick-box {
	display: none;
	position: fixed;
	left: 30%;
	top: 20%;
	width: 40%;
	background: #fff;
	z-index: 1001;
	padding: 0;
	border: 2px solid rgba(0, 0, 0, .2);
	border-radius: 10px;
}

.thick-box .thick-wrap {
	height: 100%;
	overflow: hidden;
}

.thick-wrap .thick-title {
	height: 40px;
	line-height: 40px;
	font-size: 15px;
	padding: 0 20px;
	background: #f3f3f3;
	border-bottom: 1px solid #ddd;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.thick-title span {
	float: right;
	font-size: 20px;
	cursor: pointer;
}

.thick-title span:hover {
	color: #999;
}

.thick-wrap .thick-body {
	padding: 0 20px;
}

.thick-body .warning {
	width: 80%;
	margin: 4% auto;
	padding-left: 2%;
}

.thick-body .restaurant {
	width: 80%;
	margin: 4% auto;
}

.restaurant .a {
	width: 100px;
	display: inline-block;
	text-align: center;
	border-radius: 4px;
	border: 1px solid #555;
	color: #777;
	margin-bottom: 5%;
	margin-left: 4%;
	padding: 2px 7px;
}

.restaurant .a-active {
	color: #2277da;
	border-color: #2277da;
}

.restaurant .btnedit {
	width: 100px;
	padding: 2px 7px;
	margin-top: -2px;
	margin-left: 4%;
	background: #ebebeb;
	color: #222;
	border: 1px solid #888;
}

.restaurant .btnedit:hover {
	color: #333;
	background: #eee;
}

/* 最多选三个饭店样式 */
.warning-animation {
	animation: waggle 1s linear;
}

@keyframes waggle { 
	0%{	transform: translateX(0px);}
	10%{transform:translateX(25px);}
	20%{transform:translateX(-25px);}
	30%{transform:translateX(20px);}
	40%{transform:translateX(-20px);}
	50%{transform:translateX(15px);}
	60%{transform:translateX(-15px);}
	70%{transform:translateX(10px);}
	80%{transform:translateX(-10px);}
	90%{transform:translateX(5px);}
	100%{transform:translateX(0px);}
}

/* 增加项目 */
.addService {
	cursor: pointer;
	color: #2277da;
}

/* 右侧回到顶部底部 */
.bar {
	position: fixed;
	top: 80%;
	left: 95%;
}

.bar .bar-top, .bar .bar-bottom {
	display: block;
	width: 45px;
	height: 45px;
	background-color: #2277da;
	color: #fff;
	text-align: center;
	margin-bottom: 5px;
	cursor: pointer;
}

.bar-top {
	line-height: 55px;
	background: url(../../../../img/roomService/top.png) no-repeat 18px 7px;
}

.bar-bottom {
	line-height: 35px;
	background: url(../../../../img/roomService/bottom.png) no-repeat 18px
		34px;
}

.bar .bar-top:hover, .bar .bar-bottom:hover {
	background-color: #6aaefb;
}

.radio {
	margin-left:5px;
}

.btn{
	cursor: none;
}

.btn-upload{
	width: 150px;
	line-height: 30px;
	padding: 0;
	background: #289073;
	border-color: #207d4e;
	color: #fff;
	margin-right:20px;
	margin-bottom:20px;
	z-index: 10;
}

input[type="file"] {
	position: relative;
	opacity: 0;
	bottom:40px;
	z-index: 20;
	width: 150px;
	height: 30px;
}