.search-roomNo {
	top: 80px;
}

.search-wrap .search-btn {
	right: 110px;
}

.bill-table thead tr:nth-child(1) {
	height: 40px;
}

.bill-table thead tr:nth-child(2) {
	height: 40px;
}

.bill-table thead tr th span {
	padding: 0;
}

.bill-table thead tr:nth-child(1) th:nth-child(1) {
	width: 5%;
}

.bill-table thead tr:nth-child(1) th:nth-child(2) {
	width: 6%;
}

/* 抄表日期 宽度 */
.bill-table thead tr:nth-child(1) th:nth-child(5) {
	width: 8%;
}

.bill-table thead .gasOne {
	color: #777;
}

.bill-table thead .gasTwo {
	color: #7a7a7a;
}

#trTwo th {
	width: 5%;
	font-size: 14px;
}

// #trOne th:nth-child(3), #trOne th:nth-child(4),
// #trOne th:nth-child(5), #trTwo th:nth-child(1),
// #trTwo th:nth-child(5), #trTwo th:nth-child(9){border-left: 2px solid #bf845e;}

/* 燃气表 表格样式  start */
tbody td:nth-child(3), tbody td:nth-child(4),
tbody td:nth-child(6), tbody td:nth-child(7),
tbody td:nth-child(8), tbody td:nth-child(10)
{
	color: #01458c;
}

tbody td:nth-child(5), tbody td:nth-child(9){ color: #f1551a;}

// tbody td:nth-child(3), tbody td:nth-child(7),
// tbody td:nth-child(11) { border-left: 2px solid #bf845e; }
/* 燃气表 表格样式  start */