.search-roomNo {
	top: 50px;
}

thead tr {
	height: 50px;
}

thead th span {
	padding: 0;
}

thead th:nth-child(3) {
	width: 8%;
}

tbody td:nth-child(3), tbody td:nth-child(4){
	color: #19007c;
}

tbody td:nth-child(5) {
	color: #0099d6;
}

tbody td:nth-child(6) {
	color: #f1551a;
}

.btnSearch {
	border: 1px solid #aaa;
	padding: 2px 12px;
	cursor:pointer;
	margin-left: 30px;
}
