<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ld.dao.GuestBalanceMapper" >
  <resultMap id="BaseResultMap" type="org.ld.model.GuestBalance" >
    <id column="ID" property="ID" jdbcType="INTEGER" />
    <result column="GUEST_ID" property="GUEST_ID" jdbcType="INTEGER" />
    <result column="ROOM_NUMBER" property="ROOM_NUMBER" jdbcType="VARCHAR" />
    <result column="CHARGE_DAY" property="CHARGE_DAY" jdbcType="INTEGER" />
    <result column="CHARGE_TURN" property="CHARGE_TURN" jdbcType="INTEGER" />
    <result column="CHARGE_WAY" property="CHARGE_WAY" jdbcType="VARCHAR" />
    <result column="RETURN_DAY" property="RETURN_DAY" jdbcType="INTEGER" />
    <result column="RETURN_TURN" property="RETURN_TURN" jdbcType="INTEGER" />
    <result column="INVOICE_DAY" property="INVOICE_DAY" jdbcType="INTEGER" />
    <result column="INVOICE_TURN" property="INVOICE_TURN" jdbcType="INTEGER" />
    <result column="INVOICE_AHEAD" property="INVOICE_AHEAD" jdbcType="INTEGER" />
    <result column="SYS_STATE" property="SYS_STATE" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, GUEST_ID, ROOM_NUMBER, CHARGE_DAY, CHARGE_TURN, CHARGE_WAY, RETURN_DAY, RETURN_TURN, 
    INVOICE_DAY, INVOICE_TURN, INVOICE_AHEAD, SYS_STATE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from guest_balance
    where ID = #{ID,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from guest_balance
    where ID = #{ID,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.ld.model.GuestBalance" >
    insert into guest_balance (ID, GUEST_ID, ROOM_NUMBER, 
      CHARGE_DAY, CHARGE_TURN, CHARGE_WAY, 
      RETURN_DAY, RETURN_TURN, INVOICE_DAY, 
      INVOICE_TURN, INVOICE_AHEAD, SYS_STATE
      )
    values (#{ID,jdbcType=INTEGER}, #{GUEST_ID,jdbcType=INTEGER}, #{ROOM_NUMBER,jdbcType=VARCHAR}, 
      #{CHARGE_DAY,jdbcType=INTEGER}, #{CHARGE_TURN,jdbcType=INTEGER}, #{CHARGE_WAY,jdbcType=VARCHAR}, 
      #{RETURN_DAY,jdbcType=INTEGER}, #{RETURN_TURN,jdbcType=INTEGER}, #{INVOICE_DAY,jdbcType=INTEGER}, 
      #{INVOICE_TURN,jdbcType=INTEGER}, #{INVOICE_AHEAD,jdbcType=INTEGER}, #{SYS_STATE,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.ld.model.GuestBalance" >
    insert into guest_balance
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ID != null" >
        ID,
      </if>
      <if test="GUEST_ID != null" >
        GUEST_ID,
      </if>
      <if test="ROOM_NUMBER != null" >
        ROOM_NUMBER,
      </if>
      <if test="CHARGE_DAY != null" >
        CHARGE_DAY,
      </if>
      <if test="CHARGE_TURN != null" >
        CHARGE_TURN,
      </if>
      <if test="CHARGE_WAY != null" >
        CHARGE_WAY,
      </if>
      <if test="RETURN_DAY != null" >
        RETURN_DAY,
      </if>
      <if test="RETURN_TURN != null" >
        RETURN_TURN,
      </if>
      <if test="INVOICE_DAY != null" >
        INVOICE_DAY,
      </if>
      <if test="INVOICE_TURN != null" >
        INVOICE_TURN,
      </if>
      <if test="INVOICE_AHEAD != null" >
        INVOICE_AHEAD,
      </if>
      <if test="SYS_STATE != null" >
        SYS_STATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ID != null" >
        #{ID,jdbcType=INTEGER},
      </if>
      <if test="GUEST_ID != null" >
        #{GUEST_ID,jdbcType=INTEGER},
      </if>
      <if test="ROOM_NUMBER != null" >
        #{ROOM_NUMBER,jdbcType=VARCHAR},
      </if>
      <if test="CHARGE_DAY != null" >
        #{CHARGE_DAY,jdbcType=INTEGER},
      </if>
      <if test="CHARGE_TURN != null" >
        #{CHARGE_TURN,jdbcType=INTEGER},
      </if>
      <if test="CHARGE_WAY != null" >
        #{CHARGE_WAY,jdbcType=VARCHAR},
      </if>
      <if test="RETURN_DAY != null" >
        #{RETURN_DAY,jdbcType=INTEGER},
      </if>
      <if test="RETURN_TURN != null" >
        #{RETURN_TURN,jdbcType=INTEGER},
      </if>
      <if test="INVOICE_DAY != null" >
        #{INVOICE_DAY,jdbcType=INTEGER},
      </if>
      <if test="INVOICE_TURN != null" >
        #{INVOICE_TURN,jdbcType=INTEGER},
      </if>
      <if test="INVOICE_AHEAD != null" >
        #{INVOICE_AHEAD,jdbcType=INTEGER},
      </if>
      <if test="SYS_STATE != null" >
        #{SYS_STATE,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.ld.model.GuestBalance" >
    update guest_balance
    <set >
      <if test="GUEST_ID != null" >
        GUEST_ID = #{GUEST_ID,jdbcType=INTEGER},
      </if>
      <if test="ROOM_NUMBER != null" >
        ROOM_NUMBER = #{ROOM_NUMBER,jdbcType=VARCHAR},
      </if>
      <if test="CHARGE_DAY != null" >
        CHARGE_DAY = #{CHARGE_DAY,jdbcType=INTEGER},
      </if>
      <if test="CHARGE_TURN != null" >
        CHARGE_TURN = #{CHARGE_TURN,jdbcType=INTEGER},
      </if>
      <if test="CHARGE_WAY != null" >
        CHARGE_WAY = #{CHARGE_WAY,jdbcType=VARCHAR},
      </if>
      <if test="RETURN_DAY != null" >
        RETURN_DAY = #{RETURN_DAY,jdbcType=INTEGER},
      </if>
      <if test="RETURN_TURN != null" >
        RETURN_TURN = #{RETURN_TURN,jdbcType=INTEGER},
      </if>
      <if test="INVOICE_DAY != null" >
        INVOICE_DAY = #{INVOICE_DAY,jdbcType=INTEGER},
      </if>
      <if test="INVOICE_TURN != null" >
        INVOICE_TURN = #{INVOICE_TURN,jdbcType=INTEGER},
      </if>
      <if test="INVOICE_AHEAD != null" >
        INVOICE_AHEAD = #{INVOICE_AHEAD,jdbcType=INTEGER},
      </if>
      <if test="SYS_STATE != null" >
        SYS_STATE = #{SYS_STATE,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{ID,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.ld.model.GuestBalance" >
    update guest_balance
    set GUEST_ID = #{GUEST_ID,jdbcType=INTEGER},
      ROOM_NUMBER = #{ROOM_NUMBER,jdbcType=VARCHAR},
      CHARGE_DAY = #{CHARGE_DAY,jdbcType=INTEGER},
      CHARGE_TURN = #{CHARGE_TURN,jdbcType=INTEGER},
      CHARGE_WAY = #{CHARGE_WAY,jdbcType=VARCHAR},
      RETURN_DAY = #{RETURN_DAY,jdbcType=INTEGER},
      RETURN_TURN = #{RETURN_TURN,jdbcType=INTEGER},
      INVOICE_DAY = #{INVOICE_DAY,jdbcType=INTEGER},
      INVOICE_TURN = #{INVOICE_TURN,jdbcType=INTEGER},
      INVOICE_AHEAD = #{INVOICE_AHEAD,jdbcType=INTEGER},
      SYS_STATE = #{SYS_STATE,jdbcType=INTEGER}
    where ID = #{ID,jdbcType=INTEGER}
  </update>
</mapper>