<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ld.dao.HostMapper" >
  <resultMap id="BaseResultMap" type="org.ld.model.Host" >
    <id column="ID" property="ID" jdbcType="INTEGER" />
    <result column="GUEST_ID" property="GUEST_ID" jdbcType="INTEGER" />
    <result column="HOST_NAME" property="HOST_NAME" jdbcType="VARCHAR" />
    <result column="RENT_CHARGE" property="RENT_CHARGE" jdbcType="DOUBLE" />
    <result column="SERVICE_CHARGE" property="SERVICE_CHARGE" jdbcType="DOUBLE" />
    <result column="RETURN_MONEY" property="RETURN_MONEY" jdbcType="DOUBLE" />
    <result column="OTHER_CHARGE" property="OTHER_CHARGE" jdbcType="DOUBLE" />
    <result column="SYS_STATE" property="SYS_STATE" jdbcType="INTEGER" />
    <result column="HOST_TYPE" property="HOST_TYPE" jdbcType="VARCHAR" />
    <result column="HOST_IDENTITY" property="HOST_IDENTITY" jdbcType="VARCHAR" />
    <result column="HOST_ACCOUNT" property="HOST_ACCOUNT" jdbcType="VARCHAR" />
    <result column="TAX_CHARGE" property="TAX_CHARGE" jdbcType="DOUBLE" />
    <result column="TENET_CHARGE" property="TENET_CHARGE" jdbcType="DOUBLE" />
    <result column="HEATING_CHARGE" property="HEATING_CHARGE" jdbcType="DOUBLE" />
    <result column="ACTUAL_CHARGE" property="ACTUAL_CHARGE" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, GUEST_ID, HOST_NAME, RENT_CHARGE, SERVICE_CHARGE, RETURN_MONEY, OTHER_CHARGE,
    SYS_STATE, HOST_TYPE, HOST_IDENTITY, HOST_ACCOUNT, TAX_CHARGE, TENET_CHARGE, HEATING_CHARGE,
    ACTUAL_CHARGE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from host
    where ID = #{ID,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from host
    where ID = #{ID,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.ld.model.Host" >
    insert into host (ID, GUEST_ID, HOST_NAME,
    RENT_CHARGE, SERVICE_CHARGE, RETURN_MONEY,
    OTHER_CHARGE, SYS_STATE, HOST_TYPE,
    HOST_IDENTITY, HOST_ACCOUNT, TAX_CHARGE,
    TENET_CHARGE, HEATING_CHARGE, ACTUAL_CHARGE
    )
    values (#{ID,jdbcType=INTEGER}, #{GUEST_ID,jdbcType=INTEGER}, #{HOST_NAME,jdbcType=VARCHAR},
    #{RENT_CHARGE,jdbcType=DOUBLE}, #{SERVICE_CHARGE,jdbcType=DOUBLE}, #{RETURN_MONEY,jdbcType=DOUBLE},
    #{OTHER_CHARGE,jdbcType=DOUBLE}, #{SYS_STATE,jdbcType=INTEGER}, #{HOST_TYPE,jdbcType=VARCHAR},
    #{HOST_IDENTITY,jdbcType=VARCHAR}, #{HOST_ACCOUNT,jdbcType=VARCHAR}, #{TAX_CHARGE,jdbcType=DOUBLE},
    #{TENET_CHARGE,jdbcType=DOUBLE}, #{HEATING_CHARGE,jdbcType=DOUBLE}, #{ACTUAL_CHARGE,jdbcType=DOUBLE}
    )
  </insert>
  <insert id="insertSelective" parameterType="org.ld.model.Host" >
    insert into host
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ID != null" >
        ID,
      </if>
      <if test="GUEST_ID != null" >
        GUEST_ID,
      </if>
      <if test="HOST_NAME != null" >
        HOST_NAME,
      </if>
      <if test="RENT_CHARGE != null" >
        RENT_CHARGE,
      </if>
      <if test="SERVICE_CHARGE != null" >
        SERVICE_CHARGE,
      </if>
      <if test="RETURN_MONEY != null" >
        RETURN_MONEY,
      </if>
      <if test="OTHER_CHARGE != null" >
        OTHER_CHARGE,
      </if>
      <if test="SYS_STATE != null" >
        SYS_STATE,
      </if>
      <if test="HOST_TYPE != null" >
        HOST_TYPE,
      </if>
      <if test="HOST_IDENTITY != null" >
        HOST_IDENTITY,
      </if>
      <if test="HOST_ACCOUNT != null" >
        HOST_ACCOUNT,
      </if>
      <if test="TAX_CHARGE != null" >
        TAX_CHARGE,
      </if>
      <if test="TENET_CHARGE != null" >
        TENET_CHARGE,
      </if>
      <if test="HEATING_CHARGE != null" >
        HEATING_CHARGE,
      </if>
      <if test="ACTUAL_CHARGE != null" >
        ACTUAL_CHARGE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ID != null" >
        #{ID,jdbcType=INTEGER},
      </if>
      <if test="GUEST_ID != null" >
        #{GUEST_ID,jdbcType=INTEGER},
      </if>
      <if test="HOST_NAME != null" >
        #{HOST_NAME,jdbcType=VARCHAR},
      </if>
      <if test="RENT_CHARGE != null" >
        #{RENT_CHARGE,jdbcType=DOUBLE},
      </if>
      <if test="SERVICE_CHARGE != null" >
        #{SERVICE_CHARGE,jdbcType=DOUBLE},
      </if>
      <if test="RETURN_MONEY != null" >
        #{RETURN_MONEY,jdbcType=DOUBLE},
      </if>
      <if test="OTHER_CHARGE != null" >
        #{OTHER_CHARGE,jdbcType=DOUBLE},
      </if>
      <if test="SYS_STATE != null" >
        #{SYS_STATE,jdbcType=INTEGER},
      </if>
      <if test="HOST_TYPE != null" >
        #{HOST_TYPE,jdbcType=VARCHAR},
      </if>
      <if test="HOST_IDENTITY != null" >
        #{HOST_IDENTITY,jdbcType=VARCHAR},
      </if>
      <if test="HOST_ACCOUNT != null" >
        #{HOST_ACCOUNT,jdbcType=VARCHAR},
      </if>
      <if test="TAX_CHARGE != null" >
        #{TAX_CHARGE,jdbcType=DOUBLE},
      </if>
      <if test="TENET_CHARGE != null" >
        #{TENET_CHARGE,jdbcType=DOUBLE},
      </if>
      <if test="HEATING_CHARGE != null" >
        #{HEATING_CHARGE,jdbcType=DOUBLE},
      </if>
      <if test="ACTUAL_CHARGE != null" >
        #{ACTUAL_CHARGE,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.ld.model.Host" >
    update host
    <set >
      <if test="GUEST_ID != null" >
        GUEST_ID = #{GUEST_ID,jdbcType=INTEGER},
      </if>
      <if test="HOST_NAME != null" >
        HOST_NAME = #{HOST_NAME,jdbcType=VARCHAR},
      </if>
      <if test="RENT_CHARGE != null" >
        RENT_CHARGE = #{RENT_CHARGE,jdbcType=DOUBLE},
      </if>
      <if test="SERVICE_CHARGE != null" >
        SERVICE_CHARGE = #{SERVICE_CHARGE,jdbcType=DOUBLE},
      </if>
      <if test="RETURN_MONEY != null" >
        RETURN_MONEY = #{RETURN_MONEY,jdbcType=DOUBLE},
      </if>
      <if test="OTHER_CHARGE != null" >
        OTHER_CHARGE = #{OTHER_CHARGE,jdbcType=DOUBLE},
      </if>
      <if test="SYS_STATE != null" >
        SYS_STATE = #{SYS_STATE,jdbcType=INTEGER},
      </if>
      <if test="HOST_TYPE != null" >
        HOST_TYPE = #{HOST_TYPE,jdbcType=VARCHAR},
      </if>
      <if test="HOST_IDENTITY != null" >
        HOST_IDENTITY = #{HOST_IDENTITY,jdbcType=VARCHAR},
      </if>
      <if test="HOST_ACCOUNT != null" >
        HOST_ACCOUNT = #{HOST_ACCOUNT,jdbcType=VARCHAR},
      </if>
      <if test="TAX_CHARGE != null" >
        TAX_CHARGE = #{TAX_CHARGE,jdbcType=DOUBLE},
      </if>
      <if test="TENET_CHARGE != null" >
        TENET_CHARGE = #{TENET_CHARGE,jdbcType=DOUBLE},
      </if>
      <if test="HEATING_CHARGE != null" >
        HEATING_CHARGE = #{HEATING_CHARGE,jdbcType=DOUBLE},
      </if>
      <if test="ACTUAL_CHARGE != null" >
        ACTUAL_CHARGE = #{ACTUAL_CHARGE,jdbcType=DOUBLE},
      </if>
    </set>
    where ID = #{ID,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.ld.model.Host" >
    update host
    set GUEST_ID = #{GUEST_ID,jdbcType=INTEGER},
      HOST_NAME = #{HOST_NAME,jdbcType=VARCHAR},
      RENT_CHARGE = #{RENT_CHARGE,jdbcType=DOUBLE},
      SERVICE_CHARGE = #{SERVICE_CHARGE,jdbcType=DOUBLE},
      RETURN_MONEY = #{RETURN_MONEY,jdbcType=DOUBLE},
      OTHER_CHARGE = #{OTHER_CHARGE,jdbcType=DOUBLE},
      SYS_STATE = #{SYS_STATE,jdbcType=INTEGER},
      HOST_TYPE = #{HOST_TYPE,jdbcType=VARCHAR},
      HOST_IDENTITY = #{HOST_IDENTITY,jdbcType=VARCHAR},
      HOST_ACCOUNT = #{HOST_ACCOUNT,jdbcType=VARCHAR},
      TAX_CHARGE = #{TAX_CHARGE,jdbcType=DOUBLE},
      TENET_CHARGE = #{TENET_CHARGE,jdbcType=DOUBLE},
      HEATING_CHARGE = #{HEATING_CHARGE,jdbcType=DOUBLE},
      ACTUAL_CHARGE = #{ACTUAL_CHARGE,jdbcType=DOUBLE}
    where ID = #{ID,jdbcType=INTEGER}
  </update>
</mapper>