<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ld.dao.MaintainFollowMapper" >
  <resultMap id="BaseResultMap" type="org.ld.model.MaintainFollow" >
    <id column="ID" property="ID" jdbcType="INTEGER" />
    <result column="ROOM_NUMBER" property="ROOM_NUMBER" jdbcType="VARCHAR" />
    <result column="MAIN_ID" property="MAIN_ID" jdbcType="INTEGER" />
    <result column="DETAIL" property="DETAIL" jdbcType="VARCHAR" />
    <result column="COMMENT" property="COMMENT" jdbcType="VARCHAR" />
    <result column="DOING" property="DOING" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, ROOM_NUMBER, MAIN_ID, DETAIL, COMMENT, DOING
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from maintain_follow
    where ID = #{ID,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from maintain_follow
    where ID = #{ID,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.ld.model.MaintainFollow" >
    insert into maintain_follow (ID, ROOM_NUMBER, MAIN_ID, 
      DETAIL, COMMENT, DOING
      )
    values (#{ID,jdbcType=INTEGER}, #{ROOM_NUMBER,jdbcType=VARCHAR}, #{MAIN_ID,jdbcType=INTEGER}, 
      #{DETAIL,jdbcType=VARCHAR}, #{COMMENT,jdbcType=VARCHAR}, #{DOING,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.ld.model.MaintainFollow" >
    insert into maintain_follow
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ID != null" >
        ID,
      </if>
      <if test="ROOM_NUMBER != null" >
        ROOM_NUMBER,
      </if>
      <if test="MAIN_ID != null" >
        MAIN_ID,
      </if>
      <if test="DETAIL != null" >
        DETAIL,
      </if>
      <if test="COMMENT != null" >
        COMMENT,
      </if>
      <if test="DOING != null" >
        DOING,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ID != null" >
        #{ID,jdbcType=INTEGER},
      </if>
      <if test="ROOM_NUMBER != null" >
        #{ROOM_NUMBER,jdbcType=VARCHAR},
      </if>
      <if test="MAIN_ID != null" >
        #{MAIN_ID,jdbcType=INTEGER},
      </if>
      <if test="DETAIL != null" >
        #{DETAIL,jdbcType=VARCHAR},
      </if>
      <if test="COMMENT != null" >
        #{COMMENT,jdbcType=VARCHAR},
      </if>
      <if test="DOING != null" >
        #{DOING,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.ld.model.MaintainFollow" >
    update maintain_follow
    <set >
      <if test="ROOM_NUMBER != null" >
        ROOM_NUMBER = #{ROOM_NUMBER,jdbcType=VARCHAR},
      </if>
      <if test="MAIN_ID != null" >
        MAIN_ID = #{MAIN_ID,jdbcType=INTEGER},
      </if>
      <if test="DETAIL != null" >
        DETAIL = #{DETAIL,jdbcType=VARCHAR},
      </if>
      <if test="COMMENT != null" >
        COMMENT = #{COMMENT,jdbcType=VARCHAR},
      </if>
      <if test="DOING != null" >
        DOING = #{DOING,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{ID,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.ld.model.MaintainFollow" >
    update maintain_follow
    set ROOM_NUMBER = #{ROOM_NUMBER,jdbcType=VARCHAR},
      MAIN_ID = #{MAIN_ID,jdbcType=INTEGER},
      DETAIL = #{DETAIL,jdbcType=VARCHAR},
      COMMENT = #{COMMENT,jdbcType=VARCHAR},
      DOING = #{DOING,jdbcType=VARCHAR}
    where ID = #{ID,jdbcType=INTEGER}
  </update>
</mapper>