<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ld.dao.RoomPicMapper">
  <resultMap id="BaseResultMap" type="org.ld.model.RoomPic">
    <id column="ID" jdbcType="INTEGER" property="ID" />
    <result column="ROOM_ID" jdbcType="INTEGER" property="ROOM_ID" />
    <result column="TYPE" jdbcType="INTEGER" property="TYPE" />
    <result column="CTIME" jdbcType="DATE" property="CTIME" />
    <result column="NAME" jdbcType="VARCHAR" property="NAME" />
    <result column="TAG" jdbcType="VARCHAR" property="TAG" />
    <result column="PATH" jdbcType="VARCHAR" property="PATH" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, ROOM_ID, TYPE, CTIME, NAME, TAG, PATH
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from room_pic
    where ID = #{ID,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from room_pic
    where ID = #{ID,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.ld.model.RoomPic">
    insert into room_pic (ID, ROOM_ID, TYPE, 
      CTIME, NAME, TAG, PATH
      )
    values (#{ID,jdbcType=INTEGER}, #{ROOM_ID,jdbcType=INTEGER}, #{TYPE,jdbcType=INTEGER}, 
      #{CTIME,jdbcType=DATE}, #{NAME,jdbcType=VARCHAR}, #{TAG,jdbcType=VARCHAR}, #{PATH,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.ld.model.RoomPic">
    insert into room_pic
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ID != null">
        ID,
      </if>
      <if test="ROOM_ID != null">
        ROOM_ID,
      </if>
      <if test="TYPE != null">
        TYPE,
      </if>
      <if test="CTIME != null">
        CTIME,
      </if>
      <if test="NAME != null">
        NAME,
      </if>
      <if test="TAG != null">
        TAG,
      </if>
      <if test="PATH != null">
        PATH,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ID != null">
        #{ID,jdbcType=INTEGER},
      </if>
      <if test="ROOM_ID != null">
        #{ROOM_ID,jdbcType=INTEGER},
      </if>
      <if test="TYPE != null">
        #{TYPE,jdbcType=INTEGER},
      </if>
      <if test="CTIME != null">
        #{CTIME,jdbcType=DATE},
      </if>
      <if test="NAME != null">
        #{NAME,jdbcType=VARCHAR},
      </if>
      <if test="TAG != null">
        #{TAG,jdbcType=VARCHAR},
      </if>
      <if test="PATH != null">
        #{PATH,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.ld.model.RoomPic">
    update room_pic
    <set>
      <if test="ROOM_ID != null">
        ROOM_ID = #{ROOM_ID,jdbcType=INTEGER},
      </if>
      <if test="TYPE != null">
        TYPE = #{TYPE,jdbcType=INTEGER},
      </if>
      <if test="CTIME != null">
        CTIME = #{CTIME,jdbcType=DATE},
      </if>
      <if test="NAME != null">
        NAME = #{NAME,jdbcType=VARCHAR},
      </if>
      <if test="TAG != null">
        TAG = #{TAG,jdbcType=VARCHAR},
      </if>
      <if test="PATH != null">
        PATH = #{PATH,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{ID,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.ld.model.RoomPic">
    update room_pic
    set ROOM_ID = #{ROOM_ID,jdbcType=INTEGER},
      TYPE = #{TYPE,jdbcType=INTEGER},
      CTIME = #{CTIME,jdbcType=DATE},
      NAME = #{NAME,jdbcType=VARCHAR},
      TAG = #{TAG,jdbcType=VARCHAR},
      PATH = #{PATH,jdbcType=VARCHAR}
    where ID = #{ID,jdbcType=INTEGER}
  </update>
  <select id="getPicByRoomId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
  	<![CDATA[
  	select * from room_pic where ROOM_ID = #{ROOM_ID,jdbcType=INTEGER}
    ]]>
  </select>
</mapper>