<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ld.dao.RoomMeterMapper" >
  <resultMap id="BaseResultMap" type="org.ld.model.RoomMeter" >
    <id column="ID" property="ID" jdbcType="INTEGER" />
    <result column="ROOM_ID" property="ROOM_ID" jdbcType="INTEGER" />
    <result column="TYPE" property="TYPE" jdbcType="INTEGER" />
    <result column="METER_NUMBER" property="METER_NUMBER" jdbcType="VARCHAR" />
    <result column="STATE" property="STATE" jdbcType="INTEGER" />
    <result column="LTIME" property="LTIME" jdbcType="DATE" />
    <result column="LVAL" property="LVAL" jdbcType="DOUBLE" />
    <result column="CTIME" property="CTIME" jdbcType="DATE" />
    <result column="CVAL" property="CVAL" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, ROOM_ID, TYPE, METER_NUMBER, STATE, LTIME, LVAL, CTIME, CVAL
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from room_meter
    where ID = #{ID,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from room_meter
    where ID = #{ID,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.ld.model.RoomMeter" >
    insert into room_meter (ID, ROOM_ID, TYPE, 
      METER_NUMBER, STATE, LTIME, 
      LVAL, CTIME, CVAL)
    values (#{ID,jdbcType=INTEGER}, #{ROOM_ID,jdbcType=INTEGER}, #{TYPE,jdbcType=INTEGER}, 
      #{METER_NUMBER,jdbcType=VARCHAR}, #{STATE,jdbcType=INTEGER}, #{LTIME,jdbcType=DATE}, 
      #{LVAL,jdbcType=DOUBLE}, #{CTIME,jdbcType=DATE}, #{CVAL,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="org.ld.model.RoomMeter" >
    insert into room_meter
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ID != null" >
        ID,
      </if>
      <if test="ROOM_ID != null" >
        ROOM_ID,
      </if>
      <if test="TYPE != null" >
        TYPE,
      </if>
      <if test="METER_NUMBER != null" >
        METER_NUMBER,
      </if>
      <if test="STATE != null" >
        STATE,
      </if>
      <if test="LTIME != null" >
        LTIME,
      </if>
      <if test="LVAL != null" >
        LVAL,
      </if>
      <if test="CTIME != null" >
        CTIME,
      </if>
      <if test="CVAL != null" >
        CVAL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ID != null" >
        #{ID,jdbcType=INTEGER},
      </if>
      <if test="ROOM_ID != null" >
        #{ROOM_ID,jdbcType=INTEGER},
      </if>
      <if test="TYPE != null" >
        #{TYPE,jdbcType=INTEGER},
      </if>
      <if test="METER_NUMBER != null" >
        #{METER_NUMBER,jdbcType=VARCHAR},
      </if>
      <if test="STATE != null" >
        #{STATE,jdbcType=INTEGER},
      </if>
      <if test="LTIME != null" >
        #{LTIME,jdbcType=DATE},
      </if>
      <if test="LVAL != null" >
        #{LVAL,jdbcType=DOUBLE},
      </if>
      <if test="CTIME != null" >
        #{CTIME,jdbcType=DATE},
      </if>
      <if test="CVAL != null" >
        #{CVAL,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.ld.model.RoomMeter" >
    update room_meter
    <set >
      <if test="ROOM_ID != null" >
        ROOM_ID = #{ROOM_ID,jdbcType=INTEGER},
      </if>
      <if test="TYPE != null" >
        TYPE = #{TYPE,jdbcType=INTEGER},
      </if>
      <if test="METER_NUMBER != null" >
        METER_NUMBER = #{METER_NUMBER,jdbcType=VARCHAR},
      </if>
      <if test="STATE != null" >
        STATE = #{STATE,jdbcType=INTEGER},
      </if>
      <if test="LTIME != null" >
        LTIME = #{LTIME,jdbcType=DATE},
      </if>
      <if test="LVAL != null" >
        LVAL = #{LVAL,jdbcType=DOUBLE},
      </if>
      <if test="CTIME != null" >
        CTIME = #{CTIME,jdbcType=DATE},
      </if>
      <if test="CVAL != null" >
        CVAL = #{CVAL,jdbcType=DOUBLE},
      </if>
    </set>
    where ID = #{ID,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.ld.model.RoomMeter" >
    update room_meter
    set ROOM_ID = #{ROOM_ID,jdbcType=INTEGER},
      TYPE = #{TYPE,jdbcType=INTEGER},
      METER_NUMBER = #{METER_NUMBER,jdbcType=VARCHAR},
      STATE = #{STATE,jdbcType=INTEGER},
      LTIME = #{LTIME,jdbcType=DATE},
      LVAL = #{LVAL,jdbcType=DOUBLE},
      CTIME = #{CTIME,jdbcType=DATE},
      CVAL = #{CVAL,jdbcType=DOUBLE}
    where ID = #{ID,jdbcType=INTEGER}
  </update>
</mapper>