<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ld.dao.RoomMapper" >
  <resultMap id="BaseResultMap" type="org.ld.model.Room" >
    <id column="ID" property="ID" jdbcType="INTEGER" />
    <result column="ROOM_NUMBER" property="ROOM_NUMBER" jdbcType="VARCHAR" />
    <result column="FLOOR" property="FLOOR" jdbcType="INTEGER" />
    <result column="TYPE" property="TYPE" jdbcType="VARCHAR" />
    <result column="AREA" property="AREA" jdbcType="DOUBLE" />
    <result column="STATE_RENT" property="STATE_RENT" jdbcType="INTEGER" />
    <result column="STATE_FAC" property="STATE_FAC" jdbcType="INTEGER" />
    <result column="FIRST_CLEAN" property="FIRST_CLEAN" jdbcType="DATE" />
    <result column="OTHERS" property="OTHERS" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, ROOM_NUMBER, FLOOR, TYPE, AREA, STATE_RENT, STATE_FAC, FIRST_CLEAN, OTHERS
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from room
    where ID = #{ID,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from room
    where ID = #{ID,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.ld.model.Room" >
    insert into room (ID, ROOM_NUMBER, FLOOR, 
      TYPE, AREA, STATE_RENT, 
      STATE_FAC, FIRST_CLEAN, OTHERS
      )
    values (#{ID,jdbcType=INTEGER}, #{ROOM_NUMBER,jdbcType=VARCHAR}, #{FLOOR,jdbcType=INTEGER}, 
      #{TYPE,jdbcType=VARCHAR}, #{AREA,jdbcType=DOUBLE}, #{STATE_RENT,jdbcType=INTEGER}, 
      #{STATE_FAC,jdbcType=INTEGER}, #{FIRST_CLEAN,jdbcType=DATE}, #{OTHERS,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.ld.model.Room" >
    insert into room
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ID != null" >
        ID,
      </if>
      <if test="ROOM_NUMBER != null" >
        ROOM_NUMBER,
      </if>
      <if test="FLOOR != null" >
        FLOOR,
      </if>
      <if test="TYPE != null" >
        TYPE,
      </if>
      <if test="AREA != null" >
        AREA,
      </if>
      <if test="STATE_RENT != null" >
        STATE_RENT,
      </if>
      <if test="STATE_FAC != null" >
        STATE_FAC,
      </if>
      <if test="FIRST_CLEAN != null" >
        FIRST_CLEAN,
      </if>
      <if test="OTHERS != null" >
        OTHERS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ID != null" >
        #{ID,jdbcType=INTEGER},
      </if>
      <if test="ROOM_NUMBER != null" >
        #{ROOM_NUMBER,jdbcType=VARCHAR},
      </if>
      <if test="FLOOR != null" >
        #{FLOOR,jdbcType=INTEGER},
      </if>
      <if test="TYPE != null" >
        #{TYPE,jdbcType=VARCHAR},
      </if>
      <if test="AREA != null" >
        #{AREA,jdbcType=DOUBLE},
      </if>
      <if test="STATE_RENT != null" >
        #{STATE_RENT,jdbcType=INTEGER},
      </if>
      <if test="STATE_FAC != null" >
        #{STATE_FAC,jdbcType=INTEGER},
      </if>
      <if test="FIRST_CLEAN != null" >
        #{FIRST_CLEAN,jdbcType=DATE},
      </if>
      <if test="OTHERS != null" >
        #{OTHERS,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.ld.model.Room" >
    update room
    <set >
      <if test="ROOM_NUMBER != null" >
        ROOM_NUMBER = #{ROOM_NUMBER,jdbcType=VARCHAR},
      </if>
      <if test="FLOOR != null" >
        FLOOR = #{FLOOR,jdbcType=INTEGER},
      </if>
      <if test="TYPE != null" >
        TYPE = #{TYPE,jdbcType=VARCHAR},
      </if>
      <if test="AREA != null" >
        AREA = #{AREA,jdbcType=DOUBLE},
      </if>
      <if test="STATE_RENT != null" >
        STATE_RENT = #{STATE_RENT,jdbcType=INTEGER},
      </if>
      <if test="STATE_FAC != null" >
        STATE_FAC = #{STATE_FAC,jdbcType=INTEGER},
      </if>
      <if test="FIRST_CLEAN != null" >
        FIRST_CLEAN = #{FIRST_CLEAN,jdbcType=DATE},
      </if>
      <if test="OTHERS != null" >
        OTHERS = #{OTHERS,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{ID,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.ld.model.Room" >
    update room
    set ROOM_NUMBER = #{ROOM_NUMBER,jdbcType=VARCHAR},
      FLOOR = #{FLOOR,jdbcType=INTEGER},
      TYPE = #{TYPE,jdbcType=VARCHAR},
      AREA = #{AREA,jdbcType=DOUBLE},
      STATE_RENT = #{STATE_RENT,jdbcType=INTEGER},
      STATE_FAC = #{STATE_FAC,jdbcType=INTEGER},
      FIRST_CLEAN = #{FIRST_CLEAN,jdbcType=DATE},
      OTHERS = #{OTHERS,jdbcType=VARCHAR}
    where ID = #{ID,jdbcType=INTEGER}
  </update>
</mapper>