<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ld.dao.ServiceEventMapper" >
  <resultMap id="BaseResultMap" type="org.ld.model.ServiceEvent" >
    <id column="ID" property="ID" jdbcType="INTEGER" />
    <result column="SERVICE_TYPE" property="SERVICE_TYPE" jdbcType="TINYINT" />
    <result column="SERVICE_ID" property="SERVICE_ID" jdbcType="INTEGER" />
    <result column="OCCUR_TIME" property="OCCUR_TIME" jdbcType="TIMESTAMP" />
    <result column="IMPORT_TIME" property="IMPORT_TIME" jdbcType="TIMESTAMP" />
    <result column="EDIT_TIME" property="EDIT_TIME" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, SERVICE_TYPE, SERVICE_ID, OCCUR_TIME, IMPORT_TIME, EDIT_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from service_event
    where ID = #{ID,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from service_event
    where ID = #{ID,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.ld.model.ServiceEvent" >
    insert into service_event (ID, SERVICE_TYPE, SERVICE_ID, 
      OCCUR_TIME, IMPORT_TIME, EDIT_TIME
      )
    values (#{ID,jdbcType=INTEGER}, #{SERVICE_TYPE,jdbcType=TINYINT}, #{SERVICE_ID,jdbcType=INTEGER}, 
      #{OCCUR_TIME,jdbcType=TIMESTAMP}, #{IMPORT_TIME,jdbcType=TIMESTAMP}, #{EDIT_TIME,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.ld.model.ServiceEvent" >
    insert into service_event
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ID != null" >
        ID,
      </if>
      <if test="SERVICE_TYPE != null" >
        SERVICE_TYPE,
      </if>
      <if test="SERVICE_ID != null" >
        SERVICE_ID,
      </if>
      <if test="OCCUR_TIME != null" >
        OCCUR_TIME,
      </if>
      <if test="IMPORT_TIME != null" >
        IMPORT_TIME,
      </if>
      <if test="EDIT_TIME != null" >
        EDIT_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ID != null" >
        #{ID,jdbcType=INTEGER},
      </if>
      <if test="SERVICE_TYPE != null" >
        #{SERVICE_TYPE,jdbcType=TINYINT},
      </if>
      <if test="SERVICE_ID != null" >
        #{SERVICE_ID,jdbcType=INTEGER},
      </if>
      <if test="OCCUR_TIME != null" >
        #{OCCUR_TIME,jdbcType=TIMESTAMP},
      </if>
      <if test="IMPORT_TIME != null" >
        #{IMPORT_TIME,jdbcType=TIMESTAMP},
      </if>
      <if test="EDIT_TIME != null" >
        #{EDIT_TIME,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.ld.model.ServiceEvent" >
    update service_event
    <set >
      <if test="SERVICE_TYPE != null" >
        SERVICE_TYPE = #{SERVICE_TYPE,jdbcType=TINYINT},
      </if>
      <if test="SERVICE_ID != null" >
        SERVICE_ID = #{SERVICE_ID,jdbcType=INTEGER},
      </if>
      <if test="OCCUR_TIME != null" >
        OCCUR_TIME = #{OCCUR_TIME,jdbcType=TIMESTAMP},
      </if>
      <if test="IMPORT_TIME != null" >
        IMPORT_TIME = #{IMPORT_TIME,jdbcType=TIMESTAMP},
      </if>
      <if test="EDIT_TIME != null" >
        EDIT_TIME = #{EDIT_TIME,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{ID,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.ld.model.ServiceEvent" >
    update service_event
    set SERVICE_TYPE = #{SERVICE_TYPE,jdbcType=TINYINT},
      SERVICE_ID = #{SERVICE_ID,jdbcType=INTEGER},
      OCCUR_TIME = #{OCCUR_TIME,jdbcType=TIMESTAMP},
      IMPORT_TIME = #{IMPORT_TIME,jdbcType=TIMESTAMP},
      EDIT_TIME = #{EDIT_TIME,jdbcType=TIMESTAMP}
    where ID = #{ID,jdbcType=INTEGER}
  </update>
</mapper>