td{border: 1px solid #aaa; line-height: 26px; padding: 8px 0;}
tbody td:nth-child(1){font-weight: bold; width: 30%; font-size: 16px; background-color: #f5f5f5; color: #555;}
tbody td:nth-child(1) span{font-weight: normal; font-size: 10px; display: block; color: #888;}

.bill-area .search{margin-top: 2em; margin-bottom: 2em; font-size: 15px;}
.search input{padding: 0 5px; margin-left: 10px;}

.bottom-page{margin: 0; margin-top: 3em;}
.bottom-page .recorTotal{color: #2277da;}

