.body{width: 600px; margin: 1em auto;}

.content-title-index{margin: 0;}
.content-title-index ul li{width: 280px; padding: 30px 50px; font-size: 15px;}
.content-title-index ul li a{width: 75%;}
.content-title-index .icon{width: 14px; height: 14px;}