.bill-table thead tr{height: 4em; font-size: 14px; border-bottom: 1px solid #333; border-top: 1px solid #333;}
.bill-table th{background-color: #2277da; color: #fff; text-align: center;}
.bill-table td{line-height: 26px; padding: 8px 0; text-align: center; font-size: 14px; border-bottom: 1px solid #ccc;}

.bill-area .search{margin-top: 2em; margin-bottom: 2em; font-size: 15px; float: left;}
.search input{padding: 0 10px; margin-left: 10px; height: 26px; margin-right: 30px;}
.bill-area .emptyText{text-align: center; color: #ff4d4d; border-top: 1px solid #aaa; border-bottom: 1px solid #aaa; height: 60px; margin-top: 3em; font-size: 14px; line-height: 55px;}

.bottom-page{margin: 0; margin-top: 3em;}
.bottom-page .recorTotal{color: #2277da;}
.date_selector .button{line-height: 14px;}

.btnEdit{width: 100px; height: 26px; line-height: 12px; border-color: #999; margin-top: -4px;}
.btnRight{margin-left: 198px;}
#editLink ,#exportLink{color: #2277da;margin-right:10px;}
#editLink:hover ,#exportLink:hover{color: #2277da; border-bottom: 1px solid #2277da;cursor: pointer;}

#deleteLink{color: #e45e00;}
#deleteLink:hover{color: #e45e00; border-bottom: 1px solid #e45e00;cursor: pointer;}

/* 导航栏样式 */
header .header-logo {
	left: 45%;
}

header .homeMenu {
	margin-top: 15px;
	margin-left: -20px;
	display: inline-block;
	width: 160px;
	height: 30px;
}

header .homeMenu .span {
	margin-left: .5em;
}

/* 一级菜单样式 */
.main-nav {
	position: fixed;
	z-index: 200;
	box-shadow: 2px 0 16px rgba(0, 0, 0, .2);
	top: 0;
	width: 0;
}

.main-nav .menuOne {
	display: block;
	height: 49px;
	line-height: 50px;
	background: #fafafa;
	cursor: pointer;
	font-size: 13px;
	color: #0057bd;
}

.main-nav .menuOne i {
	font-size: 15px;
	font-style: normal;
}

.main-nav .menuOne i:nth-child(1) {
	margin-left: 80px;
}

.main-nav .menuOne i:nth-child(2), .main-nav .menuOne i:nth-child(3) {
	margin-left: -5px;
}

/* 二级菜单样式 */
.nav-second .toolbar {
	width: 1100px;
	padding: 0;
	margin: 0 auto;
	text-align: center;
}

.toolbar ul {
	margin-left: -30px;
}

.toolbar li {
	margin: 0 30px;
}

.content {
	margin: 50px 10px 20px 170px;
}

/****************** 页面内容 start *****************************/
.main {
	width: 1100px;
	margin: 65px auto;
}

.main-page {
	margin: 10px 0;
}

/**** 表格上方样式  ****/
.main-page .nav-path {
	font-size: 14px;
	padding: 20px 0;
	line-height: 22px;
}

.nav-path a {
	color: #2277da;
}

.nav-path a:hover {
	border-bottom: 1px solid #2277da;
}

.icon-home {
	display: inline-block;
	background-image: url(../../../../../img/roomService/index.png);
	width: 14px;
	height: 13px;
	background-position: -68px -59px;
}

.icon-path {
	margin: 0 5px;
	display: inline-block;
	background-image: url(../../../../../img/roomService/index.png);
	width: 8px;
	height: 11px;
	background-position: -84px -59px;
}

.btnnew {
	float: right;
	margin-top: -44px;
}

/**** 表格样式  *****/
.bill-table table {
	width: 100%;
}

.bill-table tr:hover {
	background: #f7f7f7;
}

/**** 页码 样式 ****/
.bottom-page {
	margin: 3em 2em 5em;
}

.page-bottom {
	font-size: 14px;
	color: #a5a5a5;
	height: 40px;
	margin: 20px 0;
}
/****************** 页面内容 start *****************************/

