.body-content li:nth-child(2) .span{width: 116px;}

#unitPrice{display:none;}

/* 下拉列表 */
#dropDownList{position: relative;}
#dropDownInput{cursor: pointer;}

#problemSubTypeDropDownList{position: relative;}
#problemSubypeDropDownInput{cursor: pointer;}

#problemTypeDropDownList{position: relative;}
#problemTypeDropDownInput{cursor: pointer;}


#spanExist, #dropDownList .span{width: 116px;}
.dropDownMenu{display: none; z-index: 100; position: absolute; top: 30px; left: 120px; background: #fafafa; border: 1px solid #aaa; box-shadow: 2px 2px 2px rgba(0,0,0,.3); margin-bottom: 5em;}
.dropDownMenu li{height: 30px; line-height: 30px; width: 300px; text-align: center; border-bottom: 1px solid #aaa; color: #2277da; cursor: pointer;}
.dropDownMenu li:hover{background: #2277da; color: #fff;}