.body-content{margin-left: 0; margin-top: 1em; font-size: 14px;}
.body-content li{display: inline-block; margin-right: 20px;}
.body-content li input{padding: 0 10px; width: 110px;}
.body-content li .span{margin-right: 5px;}
.red-right{margin-left: 10px;}
.border-red{border: 1px solid red;}
#roomIdWarning{display: none; position: absolute; left: 60px;}

#totalCount, #totalPrice{font-weight: bold; font-size: 18px;}
#count{color: #2277da;}
#totalPrice{color: #ff5722;}

.goback{height: 26px; line-height: 12px; width: 100px; float: right;}

/* 增加项目 */
.addOther {
	cursor: pointer;
	color: #2277da;
}
/* 导航栏样式 */
header .header-logo {
	left: 45%;
}

header .homeMenu {
	margin-top: 15px;
	margin-left: -20px;
	display: inline-block;
	width: 160px;
	height: 30px;
}

header .homeMenu .span {
	margin-left: .5em;
}

/* 一级菜单样式 */
.main-nav {
	position: fixed;
	z-index: 200;
	box-shadow: 2px 0 16px rgba(0, 0, 0, .2);
	top: 0;
	width: 0;
}

.main-nav .menuOne {
	display: block;
	height: 49px;
	line-height: 50px;
	background: #fafafa;
	cursor: pointer;
	font-size: 13px;
	color: #0057bd;
}

.main-nav .menuOne i {
	font-size: 15px;
	font-style: normal;
}

.main-nav .menuOne i:nth-child(1) {
	margin-left: 80px;
}

.main-nav .menuOne i:nth-child(2), .main-nav .menuOne i:nth-child(3) {
	margin-left: -5px;
}

/* 二级菜单样式 */
.nav-second .toolbar {
	width: 1100px;
	padding: 0;
	margin: 0 auto;
	text-align: center;
}

.toolbar ul {
	margin-left: -30px;
}

.toolbar li {
	margin: 0 30px;
}

.content {
	margin: 50px 10px 20px 170px;
}

/****************** 页面内容 start *****************************/
.main {
	width: 1100px;
	margin: 65px auto;
}

.main-page {
	margin: 10px 0;
	position: relative;
}

/**** 表格上方样式  ****/
.main-page .nav-path {
	padding: 20px 0;
	line-height: 22px;
}

.nav-path a {
	color: #2277da;
}

.nav-path a:hover {
	border-bottom: 1px solid #2277da;
}

.icon-home {
	display: inline-block;
	background-image: url(../../../../../img/roomService/index.png);
	width: 14px;
	height: 13px;
	background-position: -68px -59px;
}

.icon-path {
	margin: 0 5px;
	display: inline-block;
	background-image: url(../../../../../img/roomService/index.png);
	width: 8px;
	height: 11px;
	background-position: -84px -59px;
}

.btnnew {
	position: absolute;
	right: 0;
	top: 16px;
}

/**** 表格样式  *****/
.bill-table {
	margin: 1em 0;
}

.bill-table table {
	width: 100%;
}

.body table{width: 100%; margin: 30px 0;}
.bill-table thead tr{height: 50px; font-size: 14px; border-bottom: 1px solid #333; border-top: 1px solid #333;}
.bill-table th{background-color: #2277da; color: #fff; text-align: center;}
.bill-table td{position: relative; line-height: 30px; padding: 0; text-align: center; font-size: 14px; border-bottom: 1px solid #ccc;border-right: 1px solid #ccc;border-left: 1px solid #ccc;}
.bill-table th:nth-child(1){width: 40%;}
.bill-table th:nth-child(2),table th:nth-child(3),table th:nth-child(4) {width: 12%;}
.bill-table th:nth-child(5),table th:nth-child(6){width: 8%;}
.bill-table th:nth-child(7){width: 5%;}

.bill-table td input[type="radio"]{width: 16px; height: 16px; position: absolute; top: 4px; left: 10px;}
.bill-table td input[type="text"]{width: 100%; border: none; padding: 0 5px; text-align: center;}
.bill-table .td-hover{background-color: #f9f9f9;}
.bill-table td .span{position: absolute; top: 2px; right: 10px;}
.bill-table .price{color: #ff5722;}
.bill-table .delete{color: #ff4d4d; cursor: pointer; display: none;}